page-selectticket {


}

.ready-host-search {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 80px;
    margin-top: 2%;
    font-size: 15px;
    border-radius: 7px;
    background-color: #5d576b;
    color: white;
}




.play {
  .cogwheel-outline
  {  height: 35px;
     width: 35px;
    path
        {
          fill: white;
          stroke-width:5;
        }

        .cogwheel-outline-g {
          stroke: white;
        }

        .coins-main {
            width: 100px;
          }
  }

}




.text1-hostingpage .gh-text .scroll {
    font-size: 16px;
}
.view{
    width: 190px !important;
}
.button-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .button-wrap {
            margin-left: 19px;

        width: 25%;
        margin-left: 5px;
        .third {
            margin-left: 25px;
        }
        .first{
               margin-left: 17px !important;
        }
        .full-housie{
            padding-top: 6px;
            margin-left: -3px;
        }
    }
}

.ticket {
    padding-top: 0px !important;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 3px dotted white;
    border-bottom: 3px dotted white;
    margin: 0;
}

.border-wrapper {
    font-family:$roboto-number;


}

//tear up
.ticket-2 {
    margin-bottom: 0px!important;
    background-clip: padding-box;
    font: 1.25em/2 sans-serif;
    margin: 0 0 .15em;
    padding: .5em 0;
    position: relative;
    padding-bottom: 0%;
}


/*
.ticket-2:hover {
    animation: ticket-tear-up 2s;
    animation-fill-mode: forwards;
    cursor: default;
    transform-origin: 0 100%;
    z-index: 10;
    -webkit-filter: drop-shadow(1px 1px 2px hsla(0, 0%, 0%, .25));
}
*/

@keyframes ticket-tear-up {
    40% {
        top: 0px;
        transform: rotateZ(-5deg);
        left: 0;
    }
    60% {
        top: -40px;
    }
    80% {
        top: -40px;
        transform: rotateZ(0deg);
        left: 0;
    }
    100% {
        top: -500px;
        left: 300px;
    }
}

.click-1 {
  
        .ticket-2 {
            animation: ticket-tear-up 2s;
            animation-fill-mode: forwards;
            cursor: default;
            transform-origin: 0 100%;
            z-index: 10;
            -webkit-filter: drop-shadow(1px 1px 2px hsla(0, 0%, 0%, .25));
        }
    
}

.click-2 {
   
        .ticket-3 {
            animation: ticket-tear-up 2s;
            animation-fill-mode: forwards;
            cursor: default;
            transform-origin: 0 100%;
            z-index: 10;
            -webkit-filter: drop-shadow(1px 1px 2px hsla(0, 0%, 0%, .25));
        }
    
}

.click-3 {
    
        .ticket-4 {
            animation: ticket-tear-down 2s;
            animation-fill-mode: forwards;
            cursor: default;
            transform-origin: 0 0;
            z-index: 10;
            -webkit-filter: drop-shadow(1px 1px 2px hsla(0, 0%, 0%, .25));
        }
    
}

.ticket-3 {
    background-clip: padding-box;
    font: 1.25em/2 sans-serif;
    padding: .5em 0;
    position: relative;
    padding-bottom: 0%;
}


/*
.ticket-3:hover {
    animation: ticket-tear-up 2s;
    animation-fill-mode: forwards;
    cursor: default;
    transform-origin: 0 100%;
    z-index: 10;
    -webkit-filter: drop-shadow(1px 1px 2px hsla(0, 0%, 0%, .25));
}
*/

//tear down
.ticket-4 {
    padding-top: 0px;
    background-clip: padding-box;
    font: 1.25em/2 sans-serif;
    padding: .5em 0;
    position: relative;
    padding-bottom: 0%;
}


/*
.ticket-4:hover {
    animation: ticket-tear-down 2s;
    animation-fill-mode: forwards;
    cursor: default;
    transform-origin: 0 0;
    z-index: 10;
    -webkit-filter: drop-shadow(1px 1px 2px hsla(0, 0%, 0%, .25));
}
*/

@keyframes ticket-tear-down {
    40% {
        bottom: 0;
        transform: rotateZ(10deg);
        right: 0;
    }
    60% {
        transform: rotateZ(10deg);
        bottom: -40px;
        right: 0;
    }
    80% {
        bottom: -40px;
        transform: rotateZ(0deg);
        right: 0;
    }
    100% {
        bottom: -500px;
        right: 300px;
    }
}

//tear up and down
@keyframes ticket-tear-up-stop {
    40% {
        top: 0px;
        transform: rotateZ(-5deg);
        right: 0;
    }
    60% {
        top: -40px;
        right: 0;
    }
    100% {
        top: -40px;
        transform: rotateZ(0deg);
        right: 0;
    }
}

@keyframes ticket-tear-down-and {
    40% {
        bottom: 0;
        transform: rotateZ(10deg);
        right: 0;
    }
    60% {
        transform: rotateZ(10deg);
        bottom: -40px;
        right: 0;
    }
    100% {
        bottom: -40px;
        transform: rotateZ(0deg);
        right: 0;
    }
}
