<ion-content>

    <div class="play main-body">

        <navbar></navbar>
        <div class="text1-hostingpage">
            <p class="select-text">Select Your Ticket</p>
        </div>

        <div class="container-fluid ticket-parent click-{{selectedticketindex}}">
            <!--Use class click-1 click-2 click-3 for animation-->

            <div class=" container ticket ticket-{{i+2}}" *ngFor="let ticket of tickets;let i=index" (click)="selectTicket(i)">
                <ticket [ticketnumber]="tickets[i]"></ticket>
            </div>

            <!-- <div class=" container ticket ticket-3 ">
                    <ticket [ticketnumber]="ticketnumbers"></ticket>
            </div>

            <div class=" container ticket ticket-4">
                    <ticket [ticketnumber]="ticketnumbers"></ticket>
            </div> -->


        </div>
    </div>
    <button type="button" class="ready-host-search view" (click)="gotoselectedticket()">View Selected Tickets</button>
    <!--<div class="button-text">
            <div class="okay-home button-wrap">1st FIVE</div>
            <div class="okay-home button-wrap">1st row</div>
            <div class="okay-home button-wrap">2nd row</div>
            <div class="okay-home button-wrap">3rd row</div>
            <div class="okay-home button-wrap">Full housie</div>
        </div>-->