<!--
  Generated template for the HostingpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

	<div class="container121">
		<navbar></navbar>
		<div class="text1-hostingpage">
			<p class="gh-text">GAME HOSTED!</p>
		</div>

		<hr>
		<div class="housie-type">
			<ion-grid>
				<ion-row>
					<ion-col col-6>
						<div class="nhousie">
							<input type="radio" name="gametype" value="Normal Housie">
							<br>
							<label class="nh-text">Normal Housie</label>
						</div>
					</ion-col>
					<ion-col col-6>
						<div class="fhousie">
							<input type="radio" name="gametype" value="Fast Housie">
							<br>
							<label class="fh-text">Fast Housie</label>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>



		<div class="text2-hostingpage">
			<hr>
			<p>Player List</p>
			<hr>
			<p class="pl-wait-text">Please wait, while your friends join the game...</p>
			<hr>
		</div>





	</div>
</ion-content>