page-hostingpage {

}


.hosting_img {
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 auto;
  margin-right: 0;
}


.text1-hostingpage {
  color: white;
  text-align: center;
  .gh-text {
    font-size: 20px;
  }

  .sc-text {
    font-size: .9em;
  }
}

.secret-code {
  height: 30px;
  width: 150px;
  background-color: #ededed;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  p{
    padding-top: 5px;
    color: #5d576b;
    text-align: center;
    font-size: 18px;
  }
}

.sc-text2 {
  color: white;
  text-align: center;
  padding: 10px;
    font-size: .9em;
}

.text2-hostingpage {
  p{
    color: white;
    text-align: center;
  }
}

.pl-wait-text {
  margin-top: 70px;
  margin-bottom: 79px;
}

.nh-text {
  color: white;

}

.fh-text {
  color: white;
}

.housie-type {
  text-align: center;
  .grid {
    padding-bottom: 0px;
  }

}

.container121 {
  hr {
    background-color: white;
  }
}
