<ion-content>

    <div class="play main-body">
        <navbar></navbar>
        <div class="text1-hostingpage">
            <p class="select-text">Selected Tickets</p>
        </div>

        <div class="container-fluid ticket-parent">
            <!--Use class click-1 click-2 click-3 for animation-->

            <div class=" container ticket ticket-{{i+2}}" *ngFor="let ticket of selectedtickets;let i=index">
                <ticket [ticketnumber]="selectedtickets[i]"></ticket>
            </div>

        </div>
        <button type="button" class="ready-host-search" (click)="gotoplaygame()">READY</button>
        <!--<div class="button-text">
            <div class="okay-home button-wrap">1st FIVE</div>
            <div class="okay-home button-wrap">1st row</div>
            <div class="okay-home button-wrap">2nd row</div>
            <div class="okay-home button-wrap">3rd row</div>
            <div class="okay-home button-wrap">Full housie</div>
        </div>-->