<!--
  Generated template for the HostsearchPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="main-body">
      <navbar></navbar>
   
    <div class="text1-hostingpage">
      <p class="gh-text">JOIN GAME</p>
    </div>
    <div class="connect-signal">
      <div class="userprofile-hosts">
        <div id="userprofile{{i}}" style="position: absolute;z-index:999" *ngFor="let host of hostlist;let i=index" (click)="hostselected(host)">
          <div class="userfound-img-bg">
            <img src="assets/imgs/{{host.avtar}}" alt="">
          </div>
          <div class="userprofile-hosts-name">{{host.name}}</div>
        </div>
        
      </div>
      <div class="connect-signal1">
      </div>
      <div class="connect-signal1 delay-1">
      </div>
      <div class="connect-signal1 delay-2">
      </div>
      <div class="user-profile">
        <img src="assets/imgs/{{user.avtar}}" alt="">
      </div>
    </div>
    <p class="searching-text">{{hostlist.length}} Host Found!
      <br> Click on the host icon and hit Connect.</p>
    <button type="button" class="ready-host-search" (click)="gotoconnecting()">READY</button>
  </div>
</ion-content>