<!--
  Generated template for the ConnectionoptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content>
	<div class="top-bar01">
		<navbar></navbar>
	</div>
	<div class="girl-image">
		<div class="connection-avatar-img">
			<img src="assets/imgs/{{user.avtar}}" alt="Avatar">
		</div>
		<figcaption>{{user.username}}</figcaption>
	</div>

	<ion-grid class="connect-page-block">
		<ion-row>
			<ion-col col-6>
				<div class="join-div">
					<svg class="join-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
					 x="0px" y="0px" viewBox="0 0 480.259 480.259" style="enable-background:new 0 0 480.259 480.259;" xml:space="preserve">
						<g>
							<path d="M265.898,70.595c16.897-14.231,19.058-39.466,4.826-56.362c-14.231-16.897-39.466-19.058-56.362-4.826
			c-16.897,14.231-19.058,39.466-4.826,56.362c1.468,1.743,3.083,3.358,4.826,4.826c-18.555,9.617-30.211,28.765-30.232,49.664v40
			h112v-40C296.109,99.36,284.453,80.212,265.898,70.595z M240.13,16.259c13.255,0,24,10.745,24,24s-10.745,24-24,24
			s-24-10.745-24-24S226.875,16.259,240.13,16.259z M280.13,144.259h-80v-24c0-22.091,17.909-40,40-40c22.091,0,40,17.909,40,40
			V144.259z" />
						</g>
						<g>
							<path d="M449.898,390.595c16.897-14.231,19.058-39.466,4.826-56.362s-39.466-19.058-56.362-4.826
			c-16.897,14.231-19.058,39.466-4.826,56.362c1.468,1.743,3.083,3.358,4.826,4.826c-18.555,9.617-30.211,28.765-30.232,49.664v40
			h112v-40C480.109,419.36,468.453,400.212,449.898,390.595z M424.13,336.259c13.255,0,24,10.745,24,24s-10.745,24-24,24
			s-24-10.745-24-24S410.875,336.259,424.13,336.259z M464.13,464.259h-80v-24c0-22.091,17.909-40,40-40c22.091,0,40,17.909,40,40
			V464.259z" />
						</g>
						<g>
							<path d="M81.898,390.595c16.897-14.231,19.058-39.466,4.826-56.362c-14.231-16.897-39.466-19.058-56.362-4.826
			c-16.897,14.231-19.058,39.466-4.826,56.362c1.468,1.743,3.083,3.358,4.826,4.826C11.807,400.212,0.15,419.36,0.13,440.259v40h112
			v-40C112.109,419.36,100.453,400.212,81.898,390.595z M56.13,336.259c13.255,0,24,10.745,24,24s-10.745,24-24,24s-24-10.745-24-24
			S42.875,336.259,56.13,336.259z M96.13,464.259h-80v-24c0-22.091,17.909-40,40-40s40,17.909,40,40V464.259z" />
						</g>
						<g>
							<polygon points="248.13,236.947 248.13,176.259 232.13,176.259 232.13,236.947 106.474,362.603 117.786,373.915 240.13,251.571
			362.474,373.915 373.786,362.603" />
						</g>
					</svg>
					<button type="button" class="join-button" (click)="gotohostsearch()">JOIN</button>
				</div>
			</ion-col>
			<ion-col col-6>
				<div class="host-div">
					<svg class="host-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
					 x="0px" y="0px" width="583.458px" height="583.458px" viewBox="0 0 583.458 583.458" style="enable-background:new 0 0 583.458 583.458;"
					 xml:space="preserve">
						<g>
							<path d="M309.284,171.217H93.436c-15.333,0-27.769,12.438-27.769,27.769v356.702c0,15.332,12.436,27.771,27.769,27.771h215.851
    				c15.334,0,27.769-12.439,27.769-27.771V198.986C337.051,183.653,324.618,171.217,309.284,171.217z M104.04,222.311
    				c0-3.876,3.135-7.014,7.009-7.014h180.65c3.876,0,7.009,3.138,7.009,7.014v262.808c0,3.877-3.133,7.012-7.009,7.012h-180.65
    				c-3.876,0-7.009-3.135-7.009-7.012V222.311L104.04,222.311z M155.958,541.369c0,3.725-3.021,6.746-6.747,6.746H101.33
    				c-3.725,0-6.744-3.023-6.744-6.746v-11.828c0-3.723,3.019-6.746,6.744-6.746h47.881c3.725,0,6.747,3.023,6.747,6.746V541.369z
    				 M201.377,554.443c-10.498,0-18.99-8.492-18.99-18.982s8.493-18.992,18.99-18.992c10.479,0,18.992,8.502,18.992,18.992
    				C220.371,545.949,211.858,554.443,201.377,554.443z M308.143,541.369c0,3.725-3.021,6.746-6.745,6.746h-47.879
    				c-3.725,0-6.747-3.023-6.747-6.746v-11.828c0-3.723,3.021-6.746,6.747-6.746H301.4c3.725,0,6.745,3.023,6.745,6.746v11.828
    				H308.143z" />
							<path d="M317.463,80.374c-10.746,0-19.457,8.71-19.457,19.458c0,10.745,8.711,19.458,19.457,19.458
    				c21.644,0,41.994,8.427,57.296,23.731c15.298,15.304,23.724,35.645,23.724,57.286c0,10.747,8.711,19.458,19.458,19.458
    				c10.743,0,19.457-8.711,19.457-19.458c0.009-32.026-12.467-62.141-35.122-84.801C379.615,92.849,349.5,80.374,317.463,80.374z"
							/>
							<path d="M317.474,0c-10.747,0-19.458,8.711-19.458,19.458c0,10.745,8.711,19.458,19.458,19.458
    				c88.999,0,161.402,72.404,161.402,161.393c0,10.747,8.711,19.458,19.458,19.458c10.744,0,19.457-8.711,19.457-19.458
    				C517.788,89.856,427.923,0,317.474,0z" />
						</g>
					</svg>
					<button type="button" class="host-button" (click)="gotohostingpage()">HOST</button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div class="connectionpage-text">
		<p class="">Your friends are waiting, Join soon....</p>
		<p class="">FEELING LUCKY?</p>
	</div>



</ion-content>