page-connectionoptions {

}



.cogwheel-outline
{
height: 35px;
width: 35px;
  path
      {
        fill: white;
        stroke-width:5;
      }
}

.cogwheel-outline-g {
  stroke: white;
}

.coins-main {
    width: 100px;
  }

.girl-image {
  height: 130px;
  width: 130px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
    .connection-avatar-img {
        padding-top: 15px;
        background-color: #5d576b;
        border-radius: 100%;
        border: 4px solid #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        height: 120px;
        width: 120px;
        margin: 0 auto;
        img {
            height: 80px;
            width: 80px;
            margin: 0 auto;
            display: block;
        }
        
    }
  figcaption{
    text-align: center;
    color: white;
  }
}

.host-img {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
    path {
      fill: white;
    }
}

.join-img {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
    path {
      fill: white;
    }

    polygon{
      fill: white;
    }
}


.connect-page-block {
  margin-top: 10px;
}

.connectionpage-text {
  color: white;
  text-align: center;

}


.join-div {
  border: 2px solid #5d576b;
  border-radius: 5px;
  height: 115px;
  width: 120px;
  display: block;
  margin: 0 auto;
  }

  .host-div {
    border: 2px solid #5d576b;
    border-radius: 5px;
    height: 115px;
    width: 120px;
    display: block;
    margin: 0 auto;
  }

.host-button {
  display: block;
margin: 0 auto;
height: 30px;
width: 80px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 16px;
box-shadow: 1px 3px #983324;
border-radius: 7px;
background-color: #5d576b;
color: white;
}

.host-button:hover  {
  background-color: #746e82;
  height: 32px;
  width: 82px;
}

.join-button:hover  {
  background-color: #746e82;
  height: 32px;
  width: 82px;
}

.join-button {
  display: block;
margin: 0 auto;
height: 30px;
width: 80px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 16px;
box-shadow: 1px 3px #983324;
border-radius: 7px;
background-color: #5d576b;
color: white;
}
