<!--
  Generated template for the PlayerlistpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class="container121 main-body">
        <navbar></navbar>
        <div class="text1-hostingpage">
            <p class="gh-text">GAME HOSTED!</p>
        </div>

        <hr>
        <div class="housie-type">
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <div class="nhousie">
                            <input type="radio" name="gametype" value="1" [(ngModel)]="gametype">
                            <br>
                            <label class="nh-text">Normal Housie</label>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="fhousie">
                            <input type="radio" name="gametype" value="2" [(ngModel)]="gametype">
                            <br>
                            <label class="fh-text">Fast Housie</label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <hr>
        <p>Player List</p>
        <hr>


        <div class="player">
            <!-- <ion-grid>
        <ion-row>
          <ion-col *ngFor="let connecteduser of connectedusers" col-lg-4>
            <div class="user-data">
              <img src="assets/imgs/{{connecteduser.avtar}}" alt="User Image">
              <figcaption style="color:white;text-align:center;padding-top:5px;">{{connecteduser.name}}</figcaption>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>-->
           <!-- <div class="d-inline-flex p-3 text-white">
                <span class="d-sm-flex user-data"><img src="../assets/imgs/avatar_2.png" alt="User Image">
                    <figcaption class="player-name">Mrunali</figcaption>
                </span>
                <span class="d-sm-flex user-data"><img src="../assets/imgs/avatar_1.png" alt="User Image">
                    <figcaption class="player-name">Abhay</figcaption>
                </span>
                <span class="d-sm-flex user-data"><img src="../assets/imgs/avatar_2.png" alt="User Image">
                    <figcaption class="player-name">Richard</figcaption>
                </span>
                
            </div>-->

           
                <div class="players-wrapper">
                   
                        <div class="user-data"><img src="../assets/imgs/avatar_2.png" alt="User Image">
                            <figcaption style="color:white;text-align:center;padding-top:5px;">Mrunali</figcaption>
                        </div>
                
                   
                        <div class="user-data"><img src="../assets/imgs/avatar_1.png" alt="User Image">
                            <figcaption style="color:white;text-align:center;padding-top:5px;">Abhay</figcaption>
                        </div>
               
                    
                        <div class="user-data"><img src="../assets/imgs/avatar_2.png" alt="User Image">
                            <figcaption style="color:white;text-align:center;padding-top:5px;">Jyoti</figcaption>
                        </div>
               
                
                   
                        <div class="user-data"><img src="../assets/imgs/avatar_1.png" alt="User Image">
                            <figcaption style="color:white;text-align:center;padding-top:5px;">Kerfeger</figcaption>
                        </div>
                   
                    
                        <div class="user-data"><img src="../assets/imgs/avatar_1.png" alt="User Image">
                            <figcaption style="color:white;text-align:center;padding-top:5px;">Richard</figcaption>
                        </div>
                    
                    
                        
                    
               
               </div>
                
            
        </div>



        <hr>
        <button type="button" class="okay-home" (click)="gotoselectticket()">READY</button>



    </div>
</ion-content>