page-playerlistpage {
    p {
        color: white;
        text-align: center;
    }
    .user-data {
       height: 68px;
        margin: 5px;
        width: 96px;
        background-color: #d74431;
        border: 1px solid #a31700;
        img {
            width: 30px;
            display: block;
            margin: 0 auto;
            figcaption {
                text-align: center;
            }
        }
    }
    .player {
        padding: 10px;
        overflow-y: scroll;
        height: 30vh;
    }
    .player-name {
        color: white;
        text-align: center;
        padding-top: 5px;
    }
    .players-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}