<!-- Generated template for the TicketComponent component -->
<ion-row *ngFor="let row of [0,1,2]">
  <ion-col col-1 class="border-wrapper " *ngFor="let col of [0,1,2,3,4,5,6,7,8]">
    {{ticketnumbers[col][row]}}
  </ion-col>
</ion-row>