<!--
  Generated template for the ConnectingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="main-body">
    <navbar></navbar>
    <div class="text1-connectingpage">
      <p class="gh-text">Please wait.
        <br>Connecting...</p>
    </div>



    <ion-grid>
      <div class="center-div-connecting">
        <ion-row>
          <ion-col col-4>
            <div class="center-profile" id="right-profile">
              <div class="connecting-user">
                <div class="userprofile-hosts">
                  <img src="assets/imgs/{{user.avtar}}" alt="">
                  <div class="userprofile-hosts-name">{{user.username}}</div>
                </div>
              </div>
            </div>
          </ion-col>

          <ion-col col-4>
            <div class="gif-connecting" (click)="gotoselectticket()">
              <img src="assets/imgs/connecting.gif" alt="Conntecting..">
            </div>
          </ion-col>

          <ion-col col-4>
            <div class="center-profile" id="left-profile">
              <div class="connecting-user">
                <div class="userprofile-hosts">
                  <img src="assets/imgs/{{host.userdata.avtar}}" alt="{{connectedhost.userdata.name}}">
                  <div class="userprofile-hosts-name">{{connectedhost.userdata.name}}</div>
                </div>
              </div>
            </div>
          </ion-col>

        </ion-row>
      </div>
    </ion-grid>




  </div>
</ion-content>