page-hostsearch {
    

  .connect-signal1{
    position: absolute;
  left: 13%;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      border: 3px solid #fff;
      width: 150px;
      height: 150px;
      animation-name: search-animation;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }

  .delay-1{
    animation-delay: 1s;
  }
  .delay-2{
    animation-delay: 2s;
  }

        .user-profile {
          display: flex;
        align-items: center;
        margin: 0 auto;
          img {
            margin: 0 auto;
        width: 100px;
        display: block;
        margin-top: 24px;
        }
        }



  .connect-signal {
        position: relative;
        width: 200px;
        height: 240px;
        margin: 0 auto;
        margin-top: 50px;
    }


  .searching-text {
      color: #fff;
      text-align: center;
      margin-top: 50px;
    }


  .ready-host-search {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 190px !important;
    margin-top: 10%;
    font-size: 15px;
    border-radius: 7px;
    background-color: #D1D5D8;
    color: white;
    }
  }


  @keyframes search-animation{
      from {transform: scale(0.7); opacity:1; }
      to {transform: scale(1.5); opacity:0;}
  }
