<ion-header>

</ion-header>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">


<ion-content class="content">
  <div class="container-home">
    <div id="logo">
      <img src="assets/imgs/logo1.png" alt="Housie App">
    </div>

    <input type="text" [(ngModel)]="username" placeholder="Enter Name" id="enter-name" name="enter-name">
    <div id="avatar">
      <p>Choose Your Avtar!</p>
      <ion-grid>
        <ion-row class="avatar-selection-wrapper">
          <ion-col col-3 class="text-center">
            <svg class="avatar-arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71.906 71.906" style="enable-background:new 0 0 71.906 71.906;" xml:space="preserve">
<g class="avatar-g">
	<path d="M29.042,36.953c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l9.896-9.896
		c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414l-9.896,9.896C29.554,36.855,29.298,36.953,29.042,36.953z"/>
	<path d="M39.032,46.943c-0.256,0-0.512-0.098-0.707-0.293l-9.99-9.99c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0
		l9.99,9.99c0.391,0.391,0.391,1.023,0,1.414C39.544,46.846,39.288,46.943,39.032,46.943z"/>
	<path d="M35.953,71.906C16.128,71.906,0,55.777,0,35.953S16.128,0,35.953,0s35.953,16.129,35.953,35.953
		S55.778,71.906,35.953,71.906z M35.953,2C17.231,2,2,17.231,2,35.953s15.231,33.953,33.953,33.953s33.953-15.231,33.953-33.953
		S54.675,2,35.953,2z"/>
</g></svg></ion-col>
          <ion-col col-3 class="text-center" *ngFor="let avtar of avtars">
            <img [src]="'assets/imgs/'+avtar" alt="{{avtar}}" (click)="useravtar=avtar">

          </ion-col>
          <!-- <ion-col col-3 class="text-center">
            <img src="../assets/imgs/avatar_2.png" alt="avatar2"></ion-col> -->
          <ion-col col-3 class="text-center"><svg class="avatar-arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71.906 71.906" style="enable-background:new 0 0 71.906 71.906;" xml:space="preserve">
<g class="avatar-g">
	<path d="M32.969,46.85c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l9.896-9.896
		c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414l-9.896,9.896C33.48,46.752,33.225,46.85,32.969,46.85z"/>
	<path d="M42.864,36.953c-0.256,0-0.512-0.098-0.707-0.293l-9.99-9.99c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0
		l9.99,9.99c0.391,0.391,0.391,1.023,0,1.414C43.376,36.855,43.12,36.953,42.864,36.953z"/>
	<path d="M35.953,71.906C16.128,71.906,0,55.777,0,35.953S16.128,0,35.953,0s35.953,16.129,35.953,35.953
		S55.778,71.906,35.953,71.906z M35.953,2C17.231,2,2,17.231,2,35.953s15.231,33.953,33.953,33.953s33.953-15.231,33.953-33.953
		S54.675,2,35.953,2z"/>
</g></svg></ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <button type="button" class="okay-home" (click)="gotoconnectionsoptions()">OKAY</button>
  </div>


</ion-content>