page-home {
font-family: $roboto-number;


}

.text{
  color:map-get($colors, primary);

}
.content{




}

.avatar-bg {
    background-color: #5d576b;
    padding: 5px;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.container-home {
  background-color: map-get($colors, primary);
  width: 100%;
  height: 100%;
      #logo {
        margin-top: 50px;

      img {
      display: block;
      margin: 0 auto;
      }
  }

  input[name=enter-name] {
    display: block;
    margin: 0 auto;
    margin-top: 15%;
    background-color: #ededed;
    width: 45%;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 5px;

  }

}
.avatar-selection-wrapper{
  display: flex;
  align-items: center;
}

#avatar{
  p{
    color: white;
    text-align: center;
    margin-top: 16%;
    font-size: 18px;
  }
}

.avatar-arrow {
  height: 55px;
  width: 55px;
  padding: 10px;
  path {
    fill: white;
    stroke-width:3;
  }
}


.avatar-g {
  stroke: white;
}

.okay-home {
  display: block;
margin: 0 auto;
height: 30px;
width: 100px;
margin-top: 10%;
font-size: 18px;
box-shadow: 1px 3px #983324;
border-radius: 7px;
background-color: #5d576b;
color: white;
}
