.text-center{
  text-align: center !important;
}


.container {
  background-color: map-get($colors, primary);
  width: 100%;

}

ion-content{
  background-color:  map-get($colors, primary) !important;
}

.main-body{
        padding: 0px 10px;
    }
  

.top-profile-div {
    background-color: #5d576b;
    padding: 1px;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    height: 40px;
    width: 40px;
    float: right;
    .top-profile-img {
        height: 25px;
        width: 25px;
        margin: 0 auto;
        display: block;
        margin-top: 4px;
    }
}

.coin-amount {
    position: absolute;
    top: 28%;
    left: 50%;
    font-weight: 500;
    color: #a67900;
}
