<ion-content>

    <div class="play">
        <div class="play-top-icons">

            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" viewBox="-105 197 400 400" style="enable-background:new -105 197 400 400;" xml:space="preserve">
                    <path id="XMLID_3_" style="fill:#FFFFFF;" d="M69,403.9c0,18.6-0.1,37.3,0.1,55.9c0,3.5-0.5,4.9-4.5,4.9C52,464.5,52,464.7,52,452
	c0-34.8,0.1-69.6-0.1-104.3c0-4,1.2-5,5-4.9C69,343,69,342.8,69,355.1C69,371.3,69,387.6,69,403.9z" />
                    <path id="XMLID_2_" style="fill:#F7F8F8;" d="M113.2,403.9c0-18.8,0.1-37.6-0.1-56.5c0-3.8,1-4.7,4.7-4.6c12,0.2,12,0,12,11.8
	c0,35-0.1,70,0.1,104.9c0,4.2-1.1,5.3-5.2,5.2c-11.5-0.3-11.5-0.1-11.5-11.8C113.2,436.5,113.2,420.2,113.2,403.9z" />
                </svg>
            </div>

            <div class="sec_time-wrapper">
                <p class="sec-number zoomIn">08</p>
            </div>

            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" viewBox="-105 197 400 400" style="enable-background:new -105 197 400 400;" xml:space="preserve">
                    <path id="XMLID_9_" style="fill:#F8F8F9;" d="M92,463c-33.5-0.4-64.5-8.8-88.1-33.9c-19.6-20.8-19.3-20.1-0.1-40.9
                    c18.6-20.1,42.9-29.7,69.9-32.7c31.3-3.4,61.4,0.7,88.6,18c12,7.6,21.9,17.4,29.9,29.2c2.7,4.2,2.8,7.6,0,11.7
                    c-16.2,24.1-39.2,38.1-66.8,44.8C114.4,461.9,103.3,463,92,463z M91.8,452.6c7.6,0,15.1-0.4,22.5-1.7c26.7-4.4,49.3-16,66.3-37.7
                    c2.6-3.3,2.7-5.6,0.1-8.9c-6.7-8.7-14.4-16.2-23.7-21.8c-30-18.6-62.4-21-96.1-13.9c-23.5,5-43.1,16.9-57.9,36.1
                    c-2.3,3.1-2.6,5.4-0.1,8.4c5.4,6.7,11.3,13,18.1,18.1C42.1,446.7,66.1,452.4,91.8,452.6z" />
                    <path id="XMLID_8_" style="fill:#F8F8F9;" d="M140.2,347.7c4.9-6.6,9.8-13.2,14.7-19.7c1.5-2.1,3.2-3.8,6-3.2
                    c1.7,0.4,2.8,1.6,3.2,3.3c0.5,2.6-1.2,4.2-3.1,5.5c-6.7,5-13.3,10-20.1,15.1C140.7,348.3,140.5,347.9,140.2,347.7z"
                    />
                    <path id="XMLID_7_" style="fill:#F8F8F9;" d="M90.9,337.9c-1.1-7.5-2.1-14.7-3.1-21.9c-0.4-2.3-0.4-4.4,1.7-6
                    c1.5-1.1,2.9-1.2,4.5-0.2c2.2,1.5,2.4,3.4,2.1,5.9c-0.9,5.8-1.6,11.6-2.6,17.4C93.5,334.7,93.7,336.9,90.9,337.9z"
                    />
                    <path id="XMLID_6_" style="fill:#F8F8F9;" d="M42.2,348.1c-6.9-5.3-13.8-10.4-20.7-15.7c-2.2-1.7-2.7-4.2-0.6-6.4
                    c2.1-2.1,4.6-2.1,6.4,0.1c5.5,6.9,10.6,13.9,15.9,21C42.9,347.4,42.6,347.7,42.2,348.1z" />
                    <path id="XMLID_3_" style="fill:#5F596C;" d="M91.8,452.6c-25.7,0-49.7-5.9-70.6-21.4C14.3,426,8.4,419.9,3,413
                    c-2.4-3.2-2.2-5.5,0.1-8.4C18,385.4,37.5,373.5,61,368.5c33.5-7.1,66.1-4.5,96.1,13.9c9.3,5.8,17,13.2,23.7,21.8
                    c2.6,3.3,2.4,5.8-0.1,8.9c-17,21.8-39.8,33.3-66.4,37.7C106.8,452.1,99.3,452.6,91.8,452.6z M94.2,444.7c18.5-2,34.4-15.7,35.7-35
                    c1.3-20.1-14.4-37.8-35.2-39.5c-20.4-1.7-38.9,14.2-40.4,34.9c-0.9,11,3.3,20.6,10.4,28.4C72.7,442.5,82.1,444.6,94.2,444.7z"
                    />
                    <path id="XMLID_2_" style="fill:#FFFFFF;" d="M94.2,444.7c-11.5,0.1-21.5-2.2-29.6-11.1c-7.1-8-11.3-17.5-10.4-28.4
                    c1.6-20.7,20.1-36.6,40.4-34.9c20.8,1.7,36.6,19.3,35.2,39.5C128.1,428.9,114.3,442.8,94.2,444.7z" />
                </svg>
            </div>

        </div>
    </div>


    <div class="container-fluid ticket-parent">
        <div class="play-ticket">

            <ion-scroll scrollY="true" style="height:300px;">
               
                    <div class=" container ticket ticket-{{i+2}}" *ngFor="let ticket of selectedtickets;let i=index">
                        <ticket [ticketnumber]="selectedtickets[i]"></ticket>
                    </div>

                

            </ion-scroll>
        </div>
    </div>

    <div class="play-bottom-icons">

        <div class="win-button-block">

            <div class="win-button">
                <svg enable-background="new 0 0 400 400" version="1.1" viewBox="0 0 400 400" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <style type="text/css">
                        .st0 {
                            fill: #FFFFFF;
                        }
                    </style>
                    <path d="m157.3 155.9c3-1.9 5.2-3.4 7.5-4.6 14.8-8.1 28.6-5.9 39.3 7 3.7 4.5 6.5 6 12.7 4.2 13.7-4 25.7 0.1 34.6 11.4 4 5.1 7.1 7.7 14.8 6.6 19.7-2.9 34.3 9.3 35 29.1 0.5 13.1-1.5 26.3-2.8 39.4-1 10.5-1.8 21.1-4 31.3-3.2 14.9-5.4 30.5-11.7 44-26 55.2-97.4 63.7-136.1 16.6-15.3-18.7-29.4-38.3-43.5-57.9-9.5-13.3-15.3-28.1-13.8-44.9 1.1-12 5.4-22.8 14.8-30.4 5.1-4.2 6-8.5 5-14.2-3.4-19.1-6.5-38.2-10.1-57.3-3-16-3.2-31.7 1.2-47.5 3.2-11.5 5.1-23.3 8.1-34.8 1.4-5.2 3.2-10.6 6.3-14.9 8.6-11.8 24.8-11.2 30.2 2.4 4.1 10.3 5.6 22.5 4.9 33.6-1.4 22.9-2.7 45.5 3.4 67.9 1 4.2 2.6 8.2 4.2 13zm-26.6 86.4c-0.2-0.9-0.5-1.8-0.7-2.6 5.4-2.6 11.6-4.3 15.9-8.1 8.8-7.6 17.8-15.5 24.5-24.9 6-8.3 3.9-18.5-2.4-26.7-4.3-5.7-9-6.6-15.5-1.4-11 8.9-22.5 17.5-34.7 24.4-12.6 7.2-19.8 17-22.3 31-2.7 15.3 1.1 29.3 9.7 41.7 15.4 22 30.6 44.3 47.6 65 19.3 23.6 45.7 30.2 74.7 23.6 32.8-7.6 50.2-31.4 57.8-62.4 4.5-18.4 5.9-37.5 8.6-56.4 1.1-7.8 1.7-15.7 2.6-24.6-13.4 6.7-21.7 15.3-25.4 28-0.8 2.9-2.2 5.7-3.5 8.5-8.2 17.1-19.5 20.2-34.6 9.7-6.1 3.2-12 6.3-18 9.4 6.1 34.8 0.7 61-15.1 67.3 13.9-27.2 23.5-53.8-4.1-78.4-2 1-3.5 1.7-5 2.4-13.6 5.8-20 3.9-26.8-9-4.2-8-7.3-16.6-12.1-28-3.2 5-6.3 8.3-7.7 12.3-3 8.8-10.1 14.3-18.7 13.8 4.5-4.3 9.3-8.8 14.1-13.4-0.6-0.7-1.2-1.4-1.8-2.2-2.3 0.4-4.7 0.7-7.1 1zm-15.5-44.1c13.6-3.6 31.8-16.3 36.3-26.2 1.7-3.9 2-9.6 0.4-13.5-10.4-25.7-12-51.9-8.2-79.2 1.4-10.1 0.7-21.2-2-31.1-1.4-5.2-8.5-10.6-14.1-12.3-2.5-0.7-9.6 7.2-11.2 12.3-5.1 16.2-9.3 32.7-12.4 49.4-6.6 34.6 9.2 66.7 11.2 100.6zm109-32.7c-10.9 0.1-18.3 4.4-19.6 16.6-1.7 15.3 0.2 30.9 0.1 46.4 0 9.4 0.1 18.9-1.4 28.1s1.2 13.6 10.6 13.6c9.1 0.1 14.5-4.8 17-13.2 6.7-22 13.3-44 19.9-66 0.7-2.4 1.4-5.4 0.6-7.5-3.8-10.5-15.6-18.1-27.2-18zm-65.2 3.4c13.8 3.8 18.1 9.5 19.1 23.1 0.9 11.1-2.6 20.8-10.4 27.7-9.7 8.6-7.5 16.9-3 26.3 1.3 2.8 2.6 5.5 4 8.3 2.9 6.1 5 13.3 14.3 11.4 9.1-1.9 15.9-6.6 16.8-16.5 0.5-5.7 0.6-11.7-0.5-17.2-4.2-20.7-6.6-41.1 3.9-60.8 0.7-1.3 0.6-3.3 0.1-4.7-2.9-8.5-14.7-15.7-24.6-15.2-11 0.5-16.9 5.7-19.7 17.6zm131.3 45.4c0.9 0.3 1.7 0.5 2.6 0.8 0.9-2.8 2.8-5.6 2.6-8.3-0.7-11-9.7-19.1-23.5-22-8.3-1.7-14 0.7-16.7 9-4.5 13.5-9.4 27-13.6 40.6-2.1 6.8-4.2 13.9-4.3 20.9 0 4.2 3.1 11 6.3 12 4 1.2 9.8-1.7 14.1-4 2.3-1.2 3.7-4.8 5-7.5 7.5-16.2 14.8-32.5 22.2-48.7 0.2-0.3 1.2-0.2 2.7-0.4 0.9 2.4 1.7 5 2.6 7.6z"
                    />
                    <path class="st0" d="m130.7 242.3c2.4-0.3 4.8-0.5 7.3-0.8 0.6 0.7 1.2 1.4 1.8 2.2-4.8 4.5-9.5 9.1-14.1 13.4 8.6 0.6 15.7-5 18.7-13.8 1.4-4 4.5-7.3 7.7-12.3 4.8 11.3 7.9 19.9 12.1 28 6.8 12.9 13.2 14.8 26.8 9 1.5-0.6 3-1.4 5-2.4 27.6 24.6 18 51.1 4.1 78.4 15.8-6.3 21.2-32.5 15.1-67.3 6-3.1 11.9-6.2 18-9.4 15.1 10.5 26.4 7.4 34.6-9.7 1.3-2.8 2.7-5.5 3.5-8.5 3.7-12.8 12-21.4 25.4-28-0.9 8.8-1.5 16.8-2.6 24.6-2.6 18.8-4 38-8.6 56.4-7.6 31-25 54.8-57.8 62.4-29 6.7-55.4 0-74.7-23.6-17-20.8-32.2-43-47.6-65-8.6-12.4-12.4-26.4-9.7-41.7 2.5-14 9.7-23.8 22.3-31 12.2-7 23.7-15.6 34.7-24.4 6.5-5.2 11.2-4.3 15.5 1.4 6.3 8.3 8.3 18.4 2.4 26.7-6.7 9.4-15.7 17.3-24.5 24.9-4.4 3.8-10.6 5.5-15.9 8.1 0 0.6 0.3 1.5 0.5 2.4z"
                    />
                    <path class="st0" d="m115.2 198.2c-2-33.9-17.8-66-11.3-100.6 3.1-16.7 7.4-33.2 12.4-49.4 1.6-5.1 8.7-13 11.2-12.3 5.6 1.6 12.7 7 14.1 12.3 2.7 9.9 3.4 20.9 2 31.1-3.8 27.3-2.2 53.5 8.2 79.2 1.6 3.9 1.3 9.7-0.4 13.5-4.3 10-22.6 22.6-36.2 26.2z"
                    />
                    <path class="st0" d="m224.2 165.5c11.6-0.1 23.4 7.5 27.2 18 0.8 2.2 0.1 5.1-0.6 7.5-6.5 22-13.2 44-19.9 66-2.5 8.4-7.9 13.3-17 13.2-9.4-0.1-12.1-4.5-10.6-13.6 1.5-9.2 1.3-18.7 1.4-28.1 0-15.5-1.8-31.1-0.1-46.4 1.3-12.2 8.7-16.5 19.6-16.6z"
                    />
                    <path class="st0" d="m159 168.9c2.8-11.9 8.7-17.1 19.6-17.7 9.8-0.5 21.7 6.7 24.6 15.2 0.5 1.4 0.6 3.5-0.1 4.7-10.4 19.7-8.1 40.1-3.9 60.8 1.1 5.6 1 11.5 0.5 17.2-0.9 10-7.7 14.6-16.8 16.5-9.3 1.9-11.4-5.3-14.3-11.4-1.3-2.8-2.6-5.5-4-8.3-4.6-9.4-6.7-17.8 3-26.3 7.8-6.9 11.2-16.6 10.4-27.7-0.9-13.4-5.1-19.2-19-23z"
                    />
                    <path class="st0" d="m290.3 214.3c-0.9-2.6-1.7-5.2-2.6-7.7-1.4 0.2-2.5 0.1-2.7 0.4-7.4 16.2-14.7 32.5-22.2 48.7-1.3 2.8-2.6 6.3-5 7.5-4.4 2.3-10.2 5.3-14.1 4-3.2-1-6.3-7.8-6.3-12 0-7 2.1-14.1 4.3-20.9 4.2-13.6 9.1-27 13.6-40.6 2.8-8.3 8.5-10.8 16.7-9 13.7 2.9 22.8 11 23.5 22 0.2 2.7-1.7 5.5-2.6 8.3-0.9-0.2-1.7-0.4-2.6-0.7z"
                    />
                </svg>
                <p>1ST ROW</p>
            </div>


            <div class="win-button">
                <svg enable-background="new 0 0 400 400" version="1.1" viewBox="0 0 400 400" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <style type="text/css">
                        .st0 {
                            fill: #FFFFFF;
                        }
                    </style>
                    <path d="m167.9 157.9c3.9-9.9 9-19.6 11.5-29.9 5-20.8 8-42.1 13-62.9 2.5-10.3 7-20.2 11.9-29.6 3.9-7.4 11-11.4 20-9.8 9.4 1.7 12.4 9.4 12.7 16.8 0.4 12 0 24.3-2.5 35.9-5.1 23.9-11.9 47.5-18 71.2-3.1 12.2-1.8 14.1 10.7 15.9 11.2 1.6 19.4 7.4 23.1 18.3 4.1 12 11.3 21.1 22.3 27.5 9.3 5.4 13.7 13.6 13.5 25-0.2 15.4 4.3 31.6 1.1 46.2-4.6 21.3-12.6 42.4-22.3 62.1-9.6 19.5-29.8 24.9-50.1 26.3-30.2 2.1-55.8-8.5-76.1-30.8-10.5-11.5-20.2-23.7-29.5-36.2-16.5-22.3-17.4-46.7-4.7-70.3 9-16.7 9.4-34.3 6.9-51-6-40.9-15-81.4-22.1-122.2-1.1-6.3-0.4-14.2 2.6-19.5 4.3-7.6 15.8-9.6 23-3.3 7.7 6.8 15.5 15.5 18.8 24.9 7.2 20.8 11.1 42.8 17.1 64 3 10.5 7.7 20.5 11.6 30.7 1.9 0.2 3.7 0.4 5.5 0.7zm86.1 52.5c-2.9 0.2-6.2-0.4-8.7 0.7-7.2 3.5-16 6.1-20.7 11.9-12.8 16.2-24.2 33.5-35.2 51-2.3 3.7-2.4 10.9-0.3 14.7 3.2 5.7 9.7 6 15.4 2.1 2-1.4 3.5-3.3 5.5-4.8 21.3-15.6 42.6-31.1 63.9-46.7 1 1.3 1.9 2.5 2.9 3.8-5.4 3.8-10.8 7.7-16.3 11.5-15.8 10.7-31.7 21.3-47.4 31.8 12.2 21.1 10 44.9-5.3 57.4 5.9-17.9 15.9-34.2 2.5-50.8-18.8 6.8-23.3 5.1-31.3-11.7-11.1 2.8-20-0.7-25.1-10.4-5.8 5.6-11.2 10.8-16.7 16l-1.5-1.8c4.1-5.4 8.1-10.7 12.2-16.1-0.7-0.8-1.5-1.5-2.2-2.3-5.7 1.5-11.4 2.9-17.1 4.4 2.6-3.6 6.3-4.5 9.3-6.3 11.2-6.7 22.9-12.7 33-20.9 5.5-4.4 9.5-12.1 11.6-19 2.9-9.2-0.5-18.1-8.3-24.1-7.9-6.1-13.9 0.8-20.5 4.4-8.1 4.4-16.6 7.9-24.9 12-5.1 2.6-11.4 4.4-14.9 8.5-15.8 18.7-17.2 51.1-3.1 70.9 10.1 14.1 20.8 27.7 32.1 40.8 20.4 23.5 46.9 32.5 77.4 29 17.8-2.1 34-9.3 42.2-26.4 7.4-15.5 15-31.6 18.1-48.3 3.1-16.3 0.2-33.6 0.8-50.4 0.5-12.8-4.3-22.4-14.9-28.7-10.6-6.4-16.8-15.4-21.5-26.8-2.6-6.2-9.4-11.5-15.7-14.8-2.9-1.5-8.7 3.6-13.4 4.3-13.9 2.1-23.1 10.4-30 21.7-1.5 2.4-1.9 6.8-0.8 9.4 6.3 14.8 1.9 27.1-8.4 37.9-4 4.2-10 7-12.9 11.8-2.6 4.3-4.7 12.2-2.5 15.3 2.8 3.9 10.1 5.4 15.6 5.9 2.9 0.3 7-3.3 9.1-6.2 11.1-15.4 22.4-30.7 32.3-46.9 7-11.1 22.5-19.2 35.7-13.8zm-35.7-39.7c-9.9-6.3-8.3-14-6.3-21.4 5.5-21.4 12.1-42.6 16.4-64.3 2.9-14.4 3.1-29.5 3.1-44.2 0-4-4.8-10.2-8.5-11.2s-10.3 2-13.1 5.4c-4.3 5.1-7.5 11.8-9.2 18.3-4.1 16-6.5 32.5-10.5 48.5-4.2 16.7-8.8 33.3-14.7 49.4-2.9 7.9-9.6 14.2-18.3 13.3-0.5-4.3-0.4-7.8-1.4-10.8-3.6-10.8-8.2-21.3-11.3-32.2-5.3-18.9-9-38.3-14.9-57.1-2.5-7.9-7.6-15.7-13.6-21.4-3.5-3.3-12.2-4.5-16.5-2.4-3.6 1.8-6.5 10.1-5.7 14.8 4.6 28.3 9.5 56.6 15.8 84.5 5.2 23.1 10.3 45.9 6.6 69.7-0.3 2.2 0.4 4.6 0.7 7.3 13.4-2.1 25.1-6 34.9-15.2 6.8-6.4 14.6-10.3 24.6-6.1 1.7 0.7 5.6-0.6 6.7-2.2 8.2-11.9 19.5-19.2 35.2-22.7z"
                    />
                    <path class="st0" d="m254 210.4c-13.2-5.4-28.7 2.7-35.4 13.7-9.8 16.2-21.2 31.5-32.3 46.9-2.1 2.9-6.2 6.4-9.1 6.2-5.5-0.5-12.8-2.1-15.6-5.9-2.2-3.1-0.1-11 2.5-15.3 2.9-4.8 8.9-7.6 12.9-11.8 10.3-10.8 14.8-23.1 8.4-37.9-1.1-2.6-0.7-6.9 0.8-9.4 6.9-11.3 16.1-19.6 30-21.7 4.7-0.7 10.5-5.8 13.4-4.3 6.2 3.3 13.1 8.6 15.7 14.8 4.7 11.4 10.9 20.4 21.5 26.8s15.4 15.9 14.9 28.7c-0.7 16.8 2.3 34.1-0.8 50.4-3.2 16.7-10.7 32.8-18.1 48.3-8.2 17.1-24.3 24.4-42.2 26.4-30.5 3.5-57-5.5-77.4-29-11.3-13.1-22-26.7-32.1-40.8-14.2-19.8-12.8-52.2 3.1-70.9 3.5-4.1 9.7-6 14.9-8.5 8.2-4.1 16.8-7.6 24.9-12 6.6-3.6 12.5-10.5 20.5-4.4 7.7 5.9 11.1 14.9 8.3 24.1-2.2 7-6.1 14.6-11.6 19-10.1 8.1-21.8 14.2-33 20.9-3.1 1.8-6.7 2.7-9.3 6.3 5.7-1.5 11.4-2.9 17.1-4.4 0.7 0.8 1.5 1.5 2.2 2.3-4.1 5.4-8.1 10.7-12.2 16.1l1.5 1.8c5.4-5.2 10.8-10.4 16.7-16 5.1 9.6 14 13.1 25.1 10.4 8 16.9 12.5 18.5 31.3 11.7 13.4 16.6 3.4 32.9-2.5 50.8 15.3-12.5 17.4-36.3 5.3-57.4 15.7-10.5 31.5-21.1 47.4-31.8 5.5-3.7 10.9-7.6 16.3-11.5-1-1.3-1.9-2.5-2.9-3.8-21.3 15.5-42.6 31.1-63.9 46.7-1.9 1.4-3.5 3.4-5.5 4.8-5.7 4-12.2 3.7-15.4-2.1-2.1-3.8-2.1-11 0.3-14.7 11-17.5 22.4-34.9 35.2-51 4.6-5.8 13.5-8.4 20.7-11.9 2.2-1 5.5-0.4 8.4-0.6z"
                    />
                    <path class="st0" d="m218.3 170.7c-15.7 3.5-27 10.8-35.3 22.8-1.1 1.6-5 2.9-6.7 2.2-9.9-4.3-17.7-0.3-24.6 6.1-9.8 9.2-21.5 13.1-34.9 15.2-0.3-2.7-1-5.1-0.7-7.3 3.7-23.8-1.4-46.6-6.6-69.7-6.3-27.9-11.3-56.2-15.8-84.5-0.8-4.8 2.1-13.1 5.7-14.8 4.3-2.1 13-0.9 16.5 2.4 6 5.7 11.1 13.5 13.6 21.4 5.9 18.7 9.6 38.1 14.9 57.1 3.1 10.9 7.7 21.4 11.3 32.2 1 3 0.9 6.5 1.4 10.8 8.7 0.9 15.4-5.4 18.3-13.3 6-16.1 10.5-32.8 14.7-49.4 4.1-16 6.5-32.5 10.5-48.5 1.7-6.5 4.9-13.2 9.2-18.3 2.8-3.4 9.4-6.4 13.1-5.4s8.5 7.3 8.5 11.2c0 14.8-0.2 29.8-3.1 44.2-4.3 21.7-10.9 42.8-16.4 64.3-1.9 7.3-3.5 15 6.4 21.3z"
                    />
                </svg>
                <p>2ND ROW</p>
            </div>
            <div class="win-button">
                <svg enable-background="new 0 0 400 400" version="1.1" viewBox="0 0 400 400" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <style type="text/css">
                        .st0 {
                            fill: #FFFFFF;
                        }
                    </style>
                    <path d="m214 165.5c5.5-14.3 11.8-28.3 16.2-42.9 4.6-15.1 7.1-30.8 11.1-46.2 2.1-8.1 4.4-16.5 8.6-23.6 2.4-4 9.2-8 13.4-7.5 4.9 0.6 10.7 5.2 13.5 9.7 2.7 4.3 2.6 10.8 2.6 16.3 0.2 29.2-6.9 57.1-15.3 84.8-1 3.3-1.9 6.7-3.1 11 23.9 9.3 24.8 29.4 24.5 50.7-0.3 27.1 1.4 54.3-6.5 80.7-3.1 10.4-6.6 21-11.9 30.3-23.9 41.8-70 51.7-109.2 23.8-31.7-22.5-48.9-52.7-47.4-92.4 1.2-31.1-6.8-60.8-16.8-89.7-12-35.1-13.4-71.7-16-108.2-0.6-8.9 0.8-18.1 11.5-21.3 8.8-2.6 18.6 1.6 23 12.4 4.8 11.9 7.4 24.7 10.6 37.3 5.7 22.5 11.2 45 16.8 67.5 0.4 1.7 1.1 3.6 2.2 4.7 3.1 3.1 6.6 5.9 9.9 8.9 2.2-3.7 6-7.2 6.5-11.1 3.3-28.6 5.9-57.3 8.9-86 1.1-10.5 2-21.1 4.6-31.3 1.8-6.9 5.3-14 10-19.3 8.4-9.3 23.2-6.6 26.1 5.4 3 12.3 3.3 25.6 2.7 38.4-1 24.5-3.9 49-5.1 73.6-0.4 7.7 2.1 15.6 3.3 23.4 1.9 0.2 3.6 0.4 5.3 0.6zm-7.4 185.7c0.7-3.8 0.6-5.1 1.1-6.2 12-26.6 5.7-57-16.3-76.8-2-1.8-5.3-2.4-7.9-3.5-0.7 3-2.2 6.1-1.9 9 0.9 9.9-0.6 18.5-9.8 27 2.5-9.5 4.2-16.4 6-23.3-0.8-0.2-1.7-0.4-2.5-0.6-5.3 6.4-10.6 12.8-15.8 19.2-0.8-0.7-1.7-1.5-2.5-2.2 2.3-2.5 5.8-4.6 6.8-7.6 6.5-19.5 21.8-28.2 39.9-34 4.9-1.6 10-4.1 13.8-7.5 5.7-5 11.6-10.4 15.4-16.8 4.8-8 2.5-16.6-3.6-23.4-5.7-6.4-12.7-4.4-19.4-1.4-3.9 1.7-7.7 4-11.8 4.4-19.2 2.1-34.1 10.8-46.9 25.3-6.5 7.4-16 12.2-24.1 18.2-0.5-0.7-1-1.4-1.4-2.1 11.5-9.8 23-19.6 34.9-29.8-10.9-4.2-19.7-7.5-28.5-10.9 0.5-1.2 1-2.4 1.4-3.6 3.1 1.3 6 3.2 9.2 3.9 8.1 1.8 16.6 5 24.5 4.1 10.6-1.2 20.9-5.6 31.2-8.9 8.9-2.9 17.7-5.4 22.8-15.1 2.4-4.6 7.9-9.1 12.8-10.4 21.8-5.9 28.1-22.6 31.4-42 0.5-3.1 2-6.1 2.4-9.2 2.7-19.8 5.7-39.7 7.5-59.6 0.7-8.2-1.2-17.3-11.6-18.5-9.9-1.1-12.2 7.7-15.1 14.8-0.3 0.6-0.5 1.3-0.6 2-8.5 36.1-13.7 73.3-34.5 105.4 3.3 3 6 5.5 9.3 8.6-9.8-1.1-15.4-4.2-17.2-13.5-2.8-14-5-28.5-4.4-42.7 1-24.2 4.8-48.3 6.2-72.5 0.4-7.2-1.9-15.5-5.6-21.9-6.2-10.7-15.6-10-20.3 1.5-3.9 9.6-6.5 20.1-7.7 30.5-3.4 29.7-5.4 59.5-8.9 89.2-1.1 9.6-5.1 18.8-7.9 28.6-12.9-3.2-20.5-11.6-23.4-24.2-6.3-27.4-11.7-55-18.8-82.1-2.4-9-8.4-17.4-14.1-25-1.8-2.4-8.9-2.9-12.3-1.4-2.8 1.2-5.6 6.9-5.2 10.3 4.1 35.2 6.6 70.8 14.2 105.3 7 32.3 19.6 63.7 18.1 97.1-1.7 37.9 14.7 65.7 42.9 88.2 17.6 14 37.8 20.5 60.3 16 28.6-5.7 42.5-26.8 51.6-52.1 13-36.3 11.7-74.1 10.2-111.7-0.2-5.4-2.1-11.6-5.4-15.7-3.8-4.9-9.4-10-15.2-11.6-11.4-3.1-33.3 11.9-37.1 23.6 20.6 9.4 22 18.6 6.5 46.4 9.1 2.3 12.8-4.2 14.1-10.2 3.6-16.6 18.9-19.2 30.7-26.2-1 3.2-3.6 5.1-6.5 6.2-10.9 4.3-16.9 12.4-21.2 23.1-1.9 4.7-8.8 10.6-13.2 10.3-16.3-1-26.2 12-40.9 14.9 29.3 39.7 34.5 68.5 14.3 91.1z"
                    />
                    <path class="st0" d="m206.6 351.2c20.2-22.6 15.1-51.4-14.3-90.7 14.6-2.9 24.5-15.8 40.9-14.9 4.3 0.3 11.3-5.7 13.2-10.3 4.4-10.7 10.3-18.8 21.2-23.1 2.9-1.1 5.4-3 6.5-6.2-11.8 7-27.1 9.6-30.7 26.2-1.3 6-5 12.5-14.1 10.2 15.4-27.8 14.1-37-6.5-46.4 3.7-11.8 25.7-26.7 37.1-23.6 5.8 1.6 11.4 6.6 15.2 11.6 3.2 4.2 5.2 10.3 5.4 15.7 1.5 37.7 2.9 75.4-10.2 111.7-9.1 25.3-23 46.4-51.6 52.1-22.5 4.5-42.7-2-60.3-16-28.2-22.5-44.6-50.3-42.9-88.2 1.5-33.4-11-64.8-18.1-97.1-7.5-34.5-10-70.1-14.2-105.3-0.4-3.3 2.4-9 5.2-10.3 3.4-1.5 10.5-1 12.3 1.4 5.7 7.6 11.7 16 14.1 25 7.2 27.1 12.5 54.8 18.8 82.1 2.9 12.6 10.5 21 23.4 24.2 2.8-9.8 6.8-19 7.9-28.6 3.5-29.7 5.5-59.5 8.9-89.2 1.2-10.4 3.8-20.9 7.7-30.5 4.7-11.6 14.1-12.3 20.3-1.5 3.6 6.3 6 14.7 5.6 21.9-1.4 24.2-5.3 48.3-6.2 72.5-0.6 14.2 1.7 28.7 4.4 42.7 1.8 9.3 7.4 12.4 17.2 13.5-3.4-3.1-6.1-5.6-9.3-8.6 20.9-32.1 26.1-69.3 34.5-105.4 0.2-0.7 0.4-1.4 0.6-2 2.9-7.2 5.2-15.9 15.1-14.8 10.4 1.2 12.4 10.3 11.6 18.5-1.8 19.9-4.8 39.7-7.5 59.6-0.4 3.1-1.9 6.1-2.4 9.2-3.3 19.3-9.5 36.1-31.4 42-4.9 1.3-10.4 5.9-12.8 10.4-5.1 9.6-13.9 12.2-22.8 15.1-10.3 3.3-20.6 7.7-31.2 8.9-7.9 0.9-16.4-2.3-24.5-4.1-3.2-0.7-6.1-2.5-9.2-3.9-0.5 1.2-1 2.4-1.4 3.6 8.8 3.4 17.6 6.7 28.5 10.9-11.9 10.1-23.4 20-34.9 29.8 0.5 0.7 1 1.4 1.4 2.1 8.1-6 17.6-10.8 24.1-18.2 12.8-14.5 27.8-23.2 46.9-25.3 4-0.5 7.9-2.7 11.8-4.4 6.8-2.9 13.8-4.9 19.4 1.4 6.1 6.8 8.4 15.4 3.6 23.4-3.8 6.4-9.7 11.9-15.4 16.8-3.9 3.4-8.9 5.9-13.8 7.5-18.2 5.8-33.4 14.5-39.9 34-1 2.9-4.5 5.1-6.8 7.6 0.8 0.7 1.7 1.5 2.5 2.2 5.3-6.4 10.6-12.8 15.8-19.2 0.8 0.2 1.7 0.4 2.5 0.6-1.8 6.9-3.6 13.8-6 23.3 9.2-8.5 10.7-17.2 9.8-27-0.3-2.9 1.2-6 1.9-9 2.7 1.2 5.9 1.7 7.9 3.5 22 19.9 28.3 50.2 16.3 76.8-0.5 0.7-0.5 2-1.1 5.8z"
                    />
                </svg>
                <p>3RD ROW</p>
            </div>

        </div>

        <div class="win-button-block-2">
            <div class="win-button">
                <svg enable-background="new 0 0 400 400" version="1.1" viewBox="0 0 400 400" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <style type="text/css">
                        .st0 {
                            fill: #FFFFFF;
                        }
                    </style>
                    <path class="st0 play-icon" d="m19.1 213.6 0.9-0.9c19-6.1 35-1.7 48.7 12.9 5.6 6 12.2 11.1 18.6 16.2 13 10.4 27.2 12 38 4.4 0.4-0.3 0.3-1.2 0.5-2-2.3-0.2-4.6-0.3-3.7-0.3-5.9-25.6-12-49.4-16.8-73.4-6.4-31.4-12.3-63-17.3-94.6-0.9-5.5 3.7-11.9 5.8-17.8 5.9 2.4 14.4 3.1 17.3 7.5 6.6 10 12.7 21.4 15.1 33 6.3 29.7 12.7 58.8 34.2 82.5 10-5.4 11.2-15.2 11.5-24.8 0.5-17.9-1.4-36 0.3-53.8 2.1-21.8 6.4-43.4 11-64.8 0.9-4.3 7.2-10.3 11-10.3 4.2 0 9.4 5.3 12.3 9.6 2.5 3.7 3.3 9.1 3.5 13.8 0.3 9.7-0.4 19.4-0.6 29.2-0.5 20.5-1.5 41.1-1.3 61.6 0.1 7.7 2.4 15.5 4.5 23 0.8 2.8 3.6 6.6 6.1 7 2 0.4 5.9-3 7.1-5.6 3.3-7.1 5.5-14.7 8.4-21.9 11.6-28.3 23.2-56.6 35-84.8 1.4-3.4 3.5-7 6.3-9.2 3.5-2.8 8.9-6.6 12-5.6 4.1 1.3 8.7 6.6 9.6 10.8 1.3 6.7 1.2 14.5-1 20.9-5.8 17.7-13.3 34.8-19.6 52.3-5.2 14.3-10.6 28.7-14.2 43.5-1.2 5 1.8 14.6 5.4 16.2 4.6 2.1 14 0.2 17.7-3.6 13.8-14.1 26.2-29.4 38.8-44.6 7.8-9.4 14.5-19.9 22.7-29 2.7-3 9.7-5.5 12.5-4 3.8 1.9 8 8.4 7.4 12.2-1.5 10.1-3.5 20.9-8.7 29.4-13 21.4-28.8 41.1-41.5 62.6-8.8 14.9-15.6 31.2-21 47.7-4.2 13-4.9 27.1-7.2 40.7-6.8 41.2-29.1 65.2-69.5 73.7-34.6 7.3-73.7-1.7-95.1-38.3-22.8-39-59.7-64.5-93-93.1-10.2-8.1-16.8-15.1-11.7-28.3zm121.4 20c24.8 6.4 43.3 20.8 56.6 42.4 13.1 21.3 16 44.5 14.1 68.9 8.8-24.6 4.2-47.7-8.4-69.5-13.9-23.9-34-39.4-62.3-41.8zm-2.7-31.8c37.1 21 114.9 32.5 141.9 16-49.1 11.1-95.7-0.1-141.9-16z"
                    />
                    <path d="m19.1 213.6c-5.1 13.2 1.6 20.2 11.4 28.6 33.3 28.6 70.2 54.1 93 93.1 21.4 36.6 60.5 45.6 95.1 38.3 40.4-8.5 62.7-32.6 69.5-73.7 2.3-13.6 3-27.8 7.2-40.7 5.4-16.5 12.2-32.8 21-47.7 12.7-21.5 28.6-41.2 41.5-62.6 5.2-8.5 7.3-19.3 8.7-29.4 0.6-3.8-3.7-10.3-7.4-12.2-2.9-1.5-9.9 1-12.5 4-8.2 9.1-14.9 19.5-22.7 29-12.6 15.2-25.1 30.5-38.8 44.6-3.7 3.8-13.1 5.6-17.7 3.6-3.6-1.6-6.6-11.2-5.4-16.2 3.5-14.8 9-29.1 14.2-43.5 6.4-17.5 13.8-34.7 19.6-52.3 2.1-6.5 2.3-14.2 1-20.9-0.9-4.3-5.5-9.5-9.6-10.8-3.2-1-8.5 2.9-12 5.6-2.8 2.2-4.9 5.8-6.3 9.2-11.8 28.2-23.5 56.5-35 84.8-3 7.2-5.1 14.8-8.4 21.9-1.2 2.6-5 6-7.1 5.6-2.4-0.4-5.3-4.2-6.1-7-2.1-7.5-4.4-15.3-4.5-23-0.2-20.5 0.8-41.1 1.3-61.6 0.2-9.7 0.9-19.5 0.6-29.2-0.1-4.7-0.9-10.1-3.5-13.8-2.9-4.3-8.1-9.6-12.3-9.6-3.8 0-10 6-11 10.3-4.6 21.4-8.9 43-11 64.8-1.7 17.8 0.2 35.9-0.3 53.8-0.2 9.6-1.5 19.4-11.5 24.8-21.5-23.7-27.9-52.9-34.2-82.5-2.5-11.6-8.5-23-15.1-33-2.9-4.4-11.3-5.1-17.3-7.5-2.1 6-6.6 12.3-5.8 17.8 5 31.7 10.9 63.2 17.3 94.6 4.9 24 10.9 47.8 16.8 73.4-0.9-0.1 1.4 0.1 3.7 0.3-0.2 0.8-0.1 1.7-0.5 2-10.8 7.6-25 6-38-4.4-6.4-5.1-13-10.2-18.6-16.2-13.7-14.6-29.7-19-48.7-12.9 12.1-9.5 23.5-10.6 36.9-1.5 11.4 7.7 21.6 17.3 32.7 25.5 6.4 4.7 13.7 8.2 20.5 12.3 1.3-0.7 2.6-1.4 3.9-2.2-1.5-12.6-1.9-25.5-4.6-37.9-8.3-38.6-17.7-77-26.2-115.6-1.6-7.2-1.5-14.9-0.9-22.3 1.4-17.6 14.4-23.9 27.8-12.4 7.5 6.4 13.5 16.2 16.8 25.6 7.2 20.8 11.8 42.4 18.2 63.5 3 9.8 6.8 19.6 19.5 26.8 1.1-10.6 3.3-19.3 2.7-27.7-2.3-31.5-0.8-62.8 6.5-93.5 2-8.6 5.5-17.2 9.9-24.8 5.7-10 15.4-11.1 21.6-1.6 5.4 8.3 8.8 18.9 9.7 28.8 1.1 12.1-2.2 24.6-2 36.8 0.5 22.3 2.1 44.6 3.5 66.9 0.1 2 1.8 3.8 4 8 2.8-6.8 4.8-11.7 6.8-16.7 12.3-30.8 24.2-61.9 37.2-92.4 6.4-15 17.1-21.4 26.1-18.2 8.7 3 14.6 15.6 11.2 30.1-3.6 15.5-9.7 30.5-15 45.5-6.3 17.9-13.3 35.6-18.9 53.7-1.4 4.4 1.7 10.2 2.7 15.3 4.7-1.6 11-1.7 13.9-4.9 13.5-15.4 26-31.6 38.9-47.5 6.3-7.8 12-16.2 19.1-23.2 5.9-5.8 13.9-10.2 22.2-4.2 8.5 6.1 11.5 15.2 7.5 24.8-4.4 10.6-9.8 21-15.9 30.7-8.8 13.9-17.7 27.8-28.2 40.5-21.2 25.6-30.3 55.1-33.1 87.6-1 11.4-3.6 23-7.6 33.6-13.5 35.7-42.3 51.9-78.3 56.5-39.1 5-71.4-7.8-91.7-42.5-21.3-36.2-54.9-59.6-84.9-86.8-4.1-3.7-9-6.7-13.2-10.5-9.9-9.3-9.8-15.6 0.1-25.5z"
                    />
                    <path d="m140.5 233.6c28.4 2.4 48.5 17.8 62.3 41.8 12.6 21.8 17.2 44.9 8.4 69.5 1.9-24.4-1-47.6-14.1-68.9-13.3-21.6-31.8-36-56.6-42.4z"
                    />
                    <path d="m137.8 201.8c46.1 15.8 92.7 27.1 141.9 16-27 16.6-104.8 5-141.9-16z" />
                </svg>
                <p>FIRST FIVE</p>
            </div>
            <div class="win-button">
                <svg enable-background="new 0 0 400 400" version="1.1" viewBox="0 0 400 400" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <style type="text/css">
                        .st0 {
                            fill: #FFFFFF;
                        }
                    </style>
                    <path d="m136.5 150c25.2-14.6 32.4-13.5 53.9 6 1.5 1.4 4.6 2.3 6.4 1.7 20-6.7 34.4 0.9 45.6 17.2 0.6 0.8 1.6 1.3 4.9 3.9 6.5-11.5 13.7-22 18.8-33.5 5.3-12.1 8.3-25.3 13-37.8 2.9-7.6 5.9-16.1 11.5-21.5 4.3-4.2 13.5-6.9 19-5.2 4.8 1.4 10.6 10.2 10.3 15.3-0.9 14.9-4 29.8-7.7 44.4-3.1 12.2-9.3 23.6-12.2 35.8-3.6 14.9-5.2 30.3-7.5 45.4-1.1 7.1-1.7 14.3-2.7 21.4-1.8 13.2-3 26.5-5.9 39.5-3.6 16.4-6.2 33.8-13.6 48.6-28.5 57.4-103.5 65.5-144.2 16.1-16.5-20-31.7-41.2-46.9-62.3-10.1-14-16.3-29.7-14.6-47.6 1.2-12.7 5.8-24.1 15.7-32.2 5.2-4.3 6.7-8.8 5.6-15-4.3-24.5-10-48.9-12.4-73.6-2.5-23.2-1.9-46.8-1.5-70.2 0.2-9.8 3.9-19.1 15.5-21.9s19.4 3.4 23.7 12.5c4.6 9.6 7.6 20.2 9.6 30.7 3.6 18.7 5.8 37.7 9.1 56.5 1.5 8.4 4.2 16.6 6.6 25.8zm150.5 57.7c-11.7-3.4-23.4-1.6-29.5-11.9 4.3 0.4 8.1 2.1 12.1 3.4 12.8 4 17.2 2.5 21.5-9.4 7.7-21.3 15.2-42.8 21.7-64.6 2.5-8.5 3.9-18 2.6-26.6-0.8-5.5-6.7-12.1-12-14.2-3-1.2-10.8 4.4-13.7 8.8-4.1 6.1-6.2 13.7-8.4 20.9-7.5 25.4-16.8 49.9-35.2 69.8-1.7 1.8-3.1 4.1-3.9 6.4-6.1 18.5-13.7 36.7-17.4 55.6-3.3 16.4-8.6 28.7-26.1 31.6 7.1 36.8 1 66.2-15.7 72.9 14.1-29.1 25.5-57.6-4.5-83.3-21.5 9.4-27.4 7.4-37.1-13-3.2-6.8-5.5-14-9.6-24.4-3.7 5.6-7.1 9.1-8.5 13.2-3.2 9.6-11.7 16.2-19.9 14.8 4.7-4.5 9.7-9.3 14.7-14.1-0.6-0.8-1.2-1.5-1.8-2.3h-8c5.3-4.7 11.9-6.5 16.6-10.5 9.4-8 19-16.3 26.1-26.3 6.6-9.2 4.4-20.2-2.7-29.3-4.4-5.6-9.4-6.4-15.8-1.4-12.5 9.6-25.1 19.1-38.6 27.1-12 7.1-19.4 16.7-22.3 30.1-3.7 16.9 0.1 32.6 9.8 46.3 16.5 23.6 32.9 47.5 51.1 69.8 20.4 24.9 48.5 32.4 79.1 25.2 39.9-9.4 58.2-39.4 64.8-77 5.2-28.8 7.2-58.2 10.6-87.6zm-194.7-12.6c14.6-4 32.4-16.2 38.2-27.1 2-3.7 3.2-9.7 1.6-13.2-12-27.3-11.5-57-17.1-85.5-2.1-10.8-5.3-21.8-10.6-31.2-2.6-4.7-11.2-8.3-16.9-8.1-3.2 0.1-6.9 8.9-8.6 14.3-1.6 5-1.2 10.7-1 16.1 0.5 18 0.2 36.1 2.2 53.9 3.1 27 8 53.8 12.2 80.8zm119-34.9c-11.9-0.2-20 3.6-22.1 13.2-2.4 11.4-3.8 23.4-3.5 35 0.5 17.4 6.8 34.7 0.5 52.5-0.8 2.4 4.8 9.4 8.7 10.6 9.1 2.9 18.5-4.3 21.3-13.7 6.9-23.4 14.1-46.8 21-70.2 0.8-2.8 1.6-6.7 0.3-8.9-6.2-10.9-14.9-18.5-26.2-18.5zm-72.1 3.2c20.1 7.2 26.8 25.8 16.2 45-1.7 3.1-3.4 6.8-6.1 8.9-12.1 9.2-9.2 19.6-3.4 30.6 1.7 3.2 3.1 6.5 4.7 9.7 5.4 10.8 10.7 13.5 20.5 7.1 5.5-3.6 10.3-11.2 11.5-17.7 1.4-8.2-0.7-17.1-2.2-25.6-3.4-18.5-3.3-36.5 5.3-53.9 0.9-1.7 1.3-4.2 0.8-6-2.6-8.8-15.7-17-25.8-16.6-12 0.5-18.9 6.5-21.5 18.5z"
                    />
                    <path class="st0 play-icon" d="m287 207.7c-3.4 29.5-5.5 58.8-10.5 87.7-6.6 37.5-24.8 67.6-64.8 77-30.6 7.2-58.7-0.3-79.1-25.2-18.3-22.3-34.6-46.1-51.1-69.8-9.6-13.8-13.4-29.4-9.8-46.3 2.9-13.4 10.3-23 22.4-30.2 13.5-8 26.2-17.5 38.6-27.1 6.4-4.9 11.4-4.2 15.8 1.4 7.1 9 9.2 20.1 2.7 29.3-7.1 9.9-16.7 18.2-26.1 26.3-4.7 4-11.3 5.8-16.6 10.5h8c0.6 0.8 1.2 1.5 1.8 2.3-5 4.8-10 9.6-14.7 14.1 8.2 1.4 16.8-5.2 19.9-14.8 1.4-4.2 4.8-7.6 8.5-13.2 4.1 10.5 6.3 17.7 9.6 24.4 9.7 20.4 15.6 22.5 37.1 13 30.1 25.7 18.7 54.2 4.5 83.3 16.6-6.7 22.8-36.1 15.7-72.9 17.5-2.9 22.9-15.2 26.1-31.6 3.8-19 11.3-37.2 17.4-55.6 0.8-2.3 2.2-4.6 3.9-6.4 18.4-19.9 27.7-44.4 35.2-69.8 2.1-7.2 4.2-14.8 8.4-20.9 3-4.4 10.7-10 13.7-8.8 5.2 2.1 11.1 8.8 12 14.2 1.3 8.6 0 18.1-2.6 26.6-6.5 21.7-14 43.2-21.7 64.6-4.3 11.9-8.7 13.5-21.5 9.4-4-1.2-7.8-2.9-12.1-3.4 5.9 10.3 17.6 8.5 29.3 11.9z"
                    />
                    <path class="st0" d="m92.3 195.1c-4.2-27-9.1-53.8-12.2-80.8-2.1-17.8-1.7-35.9-2.2-53.9-0.2-5.4-0.6-11.1 1-16.1 1.7-5.4 5.5-14.2 8.6-14.3 5.7-0.2 14.3 3.4 16.9 8.1 5.3 9.5 8.5 20.5 10.6 31.2 5.6 28.5 5.1 58.2 17.1 85.5 1.6 3.6 0.4 9.5-1.6 13.2-5.8 10.9-23.6 23.1-38.2 27.1z"
                    />
                    <path class="st0" d="m211.3 160.2c11.3-0.1 20 7.5 26.1 18.5 1.2 2.3 0.5 6.1-0.3 8.9-6.9 23.4-14.1 46.8-21 70.2-2.8 9.4-12.2 16.6-21.3 13.7-3.8-1.2-9.5-8.3-8.7-10.6 6.3-17.8 0-35-0.5-52.5-0.3-11.7 1.1-23.6 3.5-35 2.2-9.5 10.3-13.3 22.2-13.2z"
                    />
                    <path class="st0" d="m139.2 163.4c2.6-12 9.5-17.9 21.4-18.5 10.1-0.4 23.2 7.8 25.8 16.6 0.5 1.8 0.1 4.3-0.8 6-8.6 17.3-8.7 35.3-5.3 53.9 1.5 8.5 3.7 17.4 2.2 25.6-1.1 6.5-6 14.1-11.5 17.7-9.8 6.4-15.1 3.7-20.5-7.1-1.6-3.2-3-6.6-4.7-9.7-5.8-11-8.7-21.4 3.4-30.6 2.7-2.1 4.4-5.7 6.1-8.9 10.7-19.2 4-37.8-16.1-45z"
                    />
                </svg>
                <p>FULL HOUSIE</p>
            </div>

        </div>
    </div>


    <div class="msg-box" style="margin-top: -11px; display:none">
        <P class="players-select speech-bubble">2 Players have selected #08</P>

    </div>