
  .play {

    .play-top-icons {
      margin: 10px;
      display: flex;
      align-items: center;

    svg {
      background-color: #5f596c;
      border-radius: 100%;
      height: 50px;
      width: 50px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }
  }
}


.play-ticket {
border: 5px solid #c73d27;
    border-radius: 5px;
}

.win-button-block {
display: flex;
flex-direction: row;
justify-content: space-around;

}

.win-button-block-2 {
  margin-top: 15px;
display: flex;
flex-direction: row;
justify-content: space-evenly;

}


.top-icon-color {
fill: #484259;
}
.top-icon-color-2{
fill:#fff;
}

.win-button {
background-color: $seconday-color;
width: 90px;
height: 60px;
box-shadow: 1px 2px #a31700;
border-radius: 10px;
border: 1.5px solid lime;
}

.play-top-icons {
text-align: center;
margin-bottom: 10px;
}

.play-bottom-icons {
text-align: center;
margin-top: 10px;
 svg {
   margin-top: 5px;
   width: 30px;
   height: 30px;
 }

 p{
   margin-top: -5px;
   color: #fff;
   font-size: .9em;
 }

}


.play-icon {
fill: blue;
}




.pause_img {
  width: 55%;
}

.show_img {
  margin-left: 45px;
  width: 55%;
}

.hosting_img {
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 auto;
  margin-right: 0;
}

.sec_time-wrapper {
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  width: 65px;
  height: 64px;
  &:hover{
  transform: scale(1.2);
  }
}

.sec-number {
  padding-left: 17px;
  color: white;
  padding-top: 10px;
  font-weight: bold;
  font-size: 29px;
}

.down {
  font-size: 16px !important;
}

.border-wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center;
  background: white;
  border: 1px dashed #777575;
}

.top {
  border-top: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}
.msg-box{
.players-select {
  color: white;
  border: 1px solid #b71b1b75;
  width: 194px;
  margin-top: 39px;
  margin-left: 74px;
  padding: 5px;
}

.speech-bubble {
  position: relative;
   border-radius: .4em;
  background-color: #cf0c0c75;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-top-color:#b71b1b75;
  border-bottom: 0;
  margin-left: -14px;
  margin-bottom: -14px;
}
}
.okay-home {
  font-size: 17px !important;
}

.complete-row {
  text-align: center !important;
  padding-top: 4px;
  padding-left: 3px;
  font-size: 15px;
}

.housie-button {
  height: 43px !important;
  font-size: 17px !important;
  padding-left: 8px !important;
  line-height: 16px !important;
}
.selected-number{
  background-color: #e6bc2d !important;
}
