<ion-grid>
  <ion-row>
    <ion-col col-4>
      <div>
        <svg class="cogwheel-outline" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="778.3px" height="778.3px" viewBox="0 0 778.3 778.3" style="enable-background:new 0 0 778.3 778.3;"
          xml:space="preserve">
          <g class="cogwheel-outline-g">
            <path d="M420.7,778.15h-63.4c-24,0-43.5-19.5-43.5-43.5v-77.2c-23.6-6.6-46.2-16.3-67.3-28.899l-49.8,49.399
          c-8.2,8.101-19.1,12.601-30.6,12.601c-11.7,0-22.7-4.601-30.9-12.8l-44.7-45c-16.9-17-16.8-44.601,0.2-61.5l52-51.601
          c-9.3-17.6-16.8-36.1-22.1-55.2H43.5c-24-0.1-43.5-19.6-43.5-43.6v-63.4c0-24,19.5-43.5,43.5-43.5h77.2
          c6.6-23.6,16.3-46.1,28.9-67.3l-57.3-57.8c-16.9-17-16.8-44.6,0.3-61.5l45-44.7c8.2-8.1,19-12.6,30.6-12.6
          c11.7,0,22.7,4.6,30.9,12.8l59.5,60c17.6-9.4,36.2-16.8,55.3-22.1v-77.1c0-24,19.5-43.5,43.5-43.5H420.8
          c24,0,43.5,19.5,43.5,43.5v77.2c19.8,5.5,39,13.3,57.2,23.2l60-59.5c8.2-8.1,19-12.6,30.6-12.6c11.7,0,22.7,4.6,30.9,12.8
          l44.7,45c8.2,8.2,12.6,19.2,12.6,30.8c0,11.6-4.6,22.5-12.8,30.7l-57.7,57.3c12.101,20.6,21.4,42.6,27.8,65.5h77.2
          c24,0,43.5,19.5,43.5,43.5v63.3c0,24-19.5,43.5-43.5,43.5h-77.2c-5.5,19.8-13.3,39-23.199,57.2l51.6,52
          c8.2,8.2,12.6,19.2,12.6,30.8s-4.6,22.5-12.8,30.7l-45,44.7c-8.2,8.1-19,12.6-30.6,12.6c-11.7,0-22.7-4.6-30.9-12.8l-49.3-49.7
          c-20.6,12.1-42.5,21.4-65.4,27.8v77.2C464.2,758.65,444.7,778.15,420.7,778.15z M243.6,603.45l6.7,4.2
          c23.5,14.9,49,25.9,75.8,32.601l7.5,1.899v92.5c0,13.101,10.601,23.7,23.7,23.7h63.4c13.1,0,23.7-10.6,23.7-23.7v-92.5l7.5-1.899
          c26.1-6.5,51-17.101,74-31.5l6.699-4.2L593,665.45c4.5,4.5,10.4,7,16.8,7c6.3,0,12.2-2.399,16.7-6.8l45-44.7
          c4.5-4.399,6.9-10.399,7-16.699c0-6.4-2.4-12.301-6.8-16.801l-62.2-62.6l3.8-6.5c12-20.9,21.101-43.1,26.8-66.2l1.9-7.5h92.5
          c13.1,0,23.7-10.6,23.7-23.7V357.55c0-13.1-10.601-23.7-23.7-23.7H642l-1.9-7.5c-6.5-26.1-17.1-51.1-31.5-74.1l-4.199-6.7
          l68.8-68.3c4.5-4.4,6.899-10.4,7-16.7c0-6.4-2.4-12.3-6.8-16.8l-44.7-45c-4.5-4.5-10.4-7-16.8-7c-6.301,0-12.2,2.4-16.7,6.8
          l-70.601,70.1l-6.5-3.8c-20.8-12-43.1-21-66.199-26.8l-7.5-1.9v-92.5c0-13.1-10.601-23.7-23.7-23.7h-63.4
          c-13.1,0-23.7,10.6-23.7,23.7v92.5l-7.5,1.9c-22.5,5.6-44.1,14.3-64.5,25.8l-6.6,3.7l-70-70.7c-4.5-4.5-10.4-7-16.8-7
          c-6.3,0-12.2,2.4-16.7,6.8l-45,44.7c-9.3,9.2-9.3,24.2-0.1,33.5l68.4,68.9l-4.2,6.7c-14.9,23.5-25.9,49-32.6,75.7l-1.9,7.5H43.5
          c-13.1,0-23.7,10.6-23.7,23.7v63.5c0,13.1,10.6,23.7,23.7,23.7H136l1.9,7.5c5.6,22.5,14.3,44.1,25.8,64.399l3.7,6.601l-62.7,62.2
          c-9.3,9.199-9.3,24.199-0.1,33.5l44.7,45c4.5,4.5,10.4,7,16.8,7c6.3,0,12.2-2.4,16.7-6.801L243.6,603.45z" />
          </g>
          <g class="cogwheel-outline-g">
            <path d="M389,537.45c-81.8,0-148.4-66.6-148.4-148.399c0-81.8,66.6-148.3,148.4-148.3s148.4,66.6,148.4,148.4
          S470.8,537.45,389,537.45z M389,260.55c-70.9,0-128.6,57.7-128.6,128.6c0,70.9,57.7,128.5,128.6,128.5s128.6-57.7,128.6-128.6
          C517.6,318.15,459.9,260.55,389,260.55z" />
          </g>
        </svg>
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="text-center">
        <p class="coin-amount">{{user.coins}}</p>
        <svg height="45px" width="45px" enable-background="new 0 0 200 140" version="1.1" viewBox="0 0 200 140" xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="m73.3 119.7c-34.9 0-63.3-7.2-63.3-14.6v17c0 7.4 28.3 14.6 63.3 14.6 34.9 0 63.2-7.2 63.3-14.6v-17c-0.1 7.4-28.4 14.6-63.3 14.6"
            fill="#E3AF24" />
          <path d="m66 92.9c-35 0-63.3-7.2-63.3-14.6v17c0 7.5 28.3 14.7 63.3 14.7 34.9 0 63.2-7.2 63.3-14.6v-17c-0.1 7.3-28.4 14.5-63.3 14.5"
            fill="#F3BF1C" />
          <path d="m80.6 66.2c-34.9 0-63.3-7.2-63.3-14.6v17c0 7.4 28.3 14.6 63.3 14.6 34.9 0 63.2-7.2 63.2-14.6v-17c0 7.4-28.3 14.6-63.2 14.6"
            fill="#E3AF24" />
          <path d="m129.2 22.7c0 7.4-28.3 14.3-63.3 14.3-34.9 0-63.2-6.9-63.2-14.3s28.3-12.5 63.3-12.5c34.9 0 63.2 5.1 63.2 12.5" fill="#FFD94A"
          />
          <path d="M66,37C31,37,2.7,29.8,2.7,22.4v17C2.7,46.8,31,54,66,54c34.9,0,63.2-7.2,63.3-14.6   v-17C129.2,29.8,100.9,37,66,37"
            fill="#F3BF1C" />
          <path d="m12.4 29.9v17c1.5 0.5 3.1 1.1 4.9 1.6v-17c-1.8-0.6-3.4-1.1-4.9-1.6" fill="#DBA927" />
          <path d="m114.6 31.4v17c1.8-0.5 3.4-1 4.9-1.6v-17c-1.5 0.6-3.1 1.1-4.9 1.6" fill="#DBA927" />
          <path d="m24.6 33.2v17c1.6 0.3 3.2 0.6 4.9 0.9v-17c-1.7-0.3-3.3-0.6-4.9-0.9" fill="#DBA927" />
          <path d="m102.5 34.1v17c1.7-0.3 3.3-0.6 4.9-0.9v-17c-1.6 0.3-3.3 0.6-4.9 0.9" fill="#DBA927" />
          <path d="m36.8 35.2v17c1.6 0.2 3.2 0.4 4.9 0.6v-17c-1.7-0.2-3.3-0.4-4.9-0.6" fill="#DBA927" />
          <path d="m90.3 35.8v17c1.7-0.2 3.3-0.4 4.9-0.6v-17c-1.6 0.2-3.2 0.4-4.9 0.6" fill="#DBA927" />
          <path d="m48.9 36.4v17c1.6 0.1 3.2 0.2 4.9 0.3v-17c-1.7-0.1-3.3-0.2-4.9-0.3" fill="#DBA927" />
          <path d="m78.1 36.7v17c1.6-0.1 3.3-0.2 4.9-0.3v-17c-1.6 0.1-3.2 0.2-4.9 0.3" fill="#DBA927" />
          <path d="m66 37h-2.4v17h2.4 2.4v-17h-2.4" fill="#DBA927" />
          <path d="m27 59.1v17c1.5 0.5 3.1 1.1 4.9 1.6v-17c-1.8-0.6-3.4-1.1-4.9-1.6" fill="#C3922D" />
          <path d="m129.2 60.6v17c1.8-0.5 3.4-1 4.9-1.6v-17c-1.5 0.6-3.1 1.1-4.9 1.6" fill="#C3922D" />
          <path d="m39.2 62.4v17c1.6 0.3 3.2 0.6 4.9 0.9v-17c-1.7-0.3-3.3-0.6-4.9-0.9" fill="#C3922D" />
          <path d="m117.1 63.3v17c1.7-0.3 3.3-0.6 4.9-0.9v-17c-1.6 0.3-3.3 0.6-4.9 0.9" fill="#C3922D" />
          <path d="m51.4 64.4v17c1.6 0.2 3.2 0.4 4.9 0.6v-17c-1.7-0.2-3.3-0.4-4.9-0.6" fill="#C3922D" />
          <path d="m104.9 65v17c1.7-0.2 3.3-0.4 4.9-0.6v-17c-1.6 0.2-3.3 0.4-4.9 0.6" fill="#C3922D" />
          <path d="m63.5 65.6v17c1.6 0.1 3.2 0.2 4.9 0.3v-17c-1.7-0.1-3.3-0.2-4.9-0.3" fill="#C3922D" />
          <path d="m92.7 65.9v17c1.6-0.1 3.3-0.2 4.9-0.3v-17c-1.6 0.1-3.2 0.2-4.9 0.3" fill="#C3922D" />
          <path d="m80.6 66.2h-2.4v17h2.4 2.4v-17h-2.4" fill="#C3922D" />
          <path d="m12.4 85.8v17c1.5 0.5 3.1 1.1 4.9 1.6v-17c-1.8-0.5-3.4-1-4.9-1.6" fill="#DBA927" />
          <path d="m114.6 87.4v17c1.8-0.5 3.4-1 4.9-1.6v-17c-1.5 0.6-3.1 1.1-4.9 1.6" fill="#DBA927" />
          <path d="m24.6 89.2v17c1.6 0.3 3.2 0.6 4.9 0.9v-17c-1.7-0.3-3.3-0.6-4.9-0.9" fill="#DBA927" />
          <path d="m102.5 90.1v17c1.7-0.3 3.3-0.6 4.9-0.9v-17c-1.6 0.3-3.3 0.6-4.9 0.9" fill="#DBA927" />
          <path d="m36.8 91.2v17c1.6 0.2 3.2 0.4 4.9 0.6v-17c-1.7-0.2-3.3-0.4-4.9-0.6" fill="#DBA927" />
          <path d="m90.3 91.7v17c1.7-0.2 3.3-0.4 4.9-0.6v-17c-1.6 0.3-3.2 0.5-4.9 0.6" fill="#DBA927" />
          <path d="m48.9 92.4v17c1.6 0.1 3.2 0.2 4.9 0.3v-17c-1.7-0.1-3.3-0.2-4.9-0.3" fill="#DBA927" />
          <path d="m78.1 92.6v17c1.6-0.1 3.3-0.2 4.9-0.3v-17c-1.6 0.2-3.2 0.3-4.9 0.3" fill="#DBA927" />
          <path d="m66 92.9h-2.4v17h2.4 2.4v-17h-2.4" fill="#DBA927" />
          <path d="m19.7 112.6v17c1.5 0.5 3.1 1.1 4.9 1.6v-17c-1.8-0.5-3.4-1.1-4.9-1.6" fill="#C3922D" />
          <path d="m121.9 114.2v17c1.8-0.5 3.4-1 4.9-1.6v-17c-1.5 0.5-3.1 1.1-4.9 1.6" fill="#C3922D" />
          <path d="m31.9 115.9v17c1.6 0.3 3.2 0.6 4.9 0.9v-17c-1.7-0.2-3.3-0.6-4.9-0.9" fill="#C3922D" />
          <path d="m109.7 116.8v17c1.7-0.3 3.3-0.6 4.9-0.9v-17c-1.5 0.3-3.2 0.7-4.9 0.9" fill="#C3922D" />
          <path d="m44.1 117.9v17c1.6 0.2 3.2 0.4 4.9 0.6v-17c-1.7-0.2-3.4-0.4-4.9-0.6" fill="#C3922D" />
          <path d="m97.6 118.5v17c1.7-0.2 3.3-0.4 4.9-0.6v-17c-1.6 0.2-3.3 0.4-4.9 0.6" fill="#C3922D" />
          <path d="m56.2 119.1v17c1.6 0.1 3.2 0.2 4.9 0.3v-17c-1.6-0.1-3.3-0.2-4.9-0.3" fill="#C3922D" />
          <path d="m85.4 119.4v17c1.7-0.1 3.3-0.2 4.9-0.3v-17c-1.6 0.1-3.2 0.2-4.9 0.3" fill="#C3922D" />
          <path d="m73.3 119.7h-2.4v17h2.4 2.4v-17h-2.4" fill="#C3922D" />
          <path d="m127.3 98.7c-6.9 6.1-31.7 11.3-61.3 11.3-23.1 0-43.4-3.2-54.4-7.5-1 0.9-1.6 1.9-1.6 2.9 0 7.4 28.3 14.3 63.3 14.3 34.9 0 63.3-6.9 63.3-14.3-0.1-2.5-3.5-4.8-9.3-6.7"
            fill="#FDC72F" />
          <path d="m80.6 83.2c-32.1 0-58.7-6.1-62.7-12.9-9.4 2.1-15.1 5-15.1 8.3-0.1 7.5 28.2 14.3 63.2 14.3 34.9 0 63.3-6.9 63.3-14.3 0-0.3-0.1-0.6-0.2-1-11.7 3.4-29.1 5.6-48.5 5.6"
            fill="#FFD94A" />
          <path d="m126.8 43.2c-7.6 5.9-31.9 10.8-60.8 10.8-18.7 0-35.4-2.1-47-5.1-1.1 0.9-1.7 1.9-1.7 3 0 7.4 28.3 14.3 63.3 14.3 34.9 0 63.2-6.9 63.2-14.3 0-3.5-6.5-6.5-17-8.7"
            fill="#FDC72F" />
          <defs>
            <rect id="b" x="62.4" y="1.7" width="133.6" height="139.4" />
          </defs>
          <clipPath id="a">
            <use xlink:href="#b" />
          </clipPath>
          <path d="m136.6 138.1c-32.9 0-59.6-30.5-59.6-68.1s26.7-68.1 59.6-68.1 59.6 30.5 59.6 68.1-26.6 68.1-59.6 68.1" clip-path="url(#a)"
            fill="#FFD94A" />
          <path d="m77 70c0-34.8 22.8-63.5 52.3-67.6-2.4-0.3-4.8-0.5-7.3-0.5-32.9 0-59.6 30.5-59.6 68.1s26.7 68.1 59.6 68.1c2.5 0 4.9-0.2 7.3-0.5-29.4-4.1-52.3-32.8-52.3-67.6"
            fill="#F3BF1C" />
          <path d="m136.8 124.8h-0.2c-1.7 0-3.4-0.1-5.1-0.3-1.3-0.2-2.3-1.4-2.1-2.7s1.4-2.3 2.7-2.1c1.5 0.2 3 0.3 4.5 0.3 1.3 0 2.5 1.1 2.5 2.4 0.1 1.3-0.9 2.4-2.3 2.4m14.2-2.6c-1 0-1.9-0.6-2.3-1.6-0.5-1.3 0.2-2.7 1.4-3.1 1.4-0.5 2.8-1.1 4.2-1.8 1.2-0.6 2.7-0.1 3.3 1.1s0.1 2.7-1.1 3.3c-1.5 0.8-3.1 1.5-4.7 2.1-0.2-0.1-0.5 0-0.8 0m-32.9-1.9c-0.4 0-0.7-0.1-1.1-0.3-1.5-0.8-3-1.6-4.4-2.6-1.1-0.7-1.4-2.2-0.7-3.4 0.7-1.1 2.2-1.4 3.4-0.7 1.3 0.8 2.6 1.6 3.9 2.3 1.2 0.6 1.7 2.1 1.1 3.3-0.5 0.9-1.4 1.4-2.2 1.4m48.9-8.6c-0.6 0-1.2-0.2-1.7-0.7-0.9-0.9-1-2.5 0-3.4 1.1-1.1 2.1-2.2 3.1-3.4 0.9-1 2.4-1.2 3.4-0.3 1 0.8 1.2 2.4 0.4 3.4-1.1 1.3-2.2 2.6-3.4 3.8-0.6 0.3-1.2 0.6-1.8 0.6m-63.8-3.4c-0.7 0-1.4-0.3-1.9-0.9-1.1-1.3-2.1-2.6-3-4.1-0.8-1.1-0.5-2.6 0.7-3.4 1.1-0.7 2.6-0.5 3.4 0.7 0.9 1.3 1.8 2.5 2.7 3.7 0.9 1 0.7 2.6-0.3 3.4-0.5 0.4-1 0.6-1.6 0.6m74.5-12.5c-0.3 0-0.7-0.1-1-0.2-1.2-0.5-1.8-2-1.3-3.2 0.6-1.4 1.2-2.8 1.7-4.3 0.4-1.3 1.8-2 3.1-1.5 1.3 0.4 2 1.8 1.5 3.1-0.5 1.6-1.2 3.2-1.8 4.7-0.4 0.8-1.3 1.4-2.2 1.4m-83.8-4.3c-1 0-2-0.6-2.3-1.7-0.5-1.6-1-3.2-1.4-4.8-0.3-1.3 0.5-2.6 1.8-2.9s2.6 0.5 2.9 1.8c0.4 1.5 0.8 3 1.3 4.4 0.4 1.3-0.2 2.7-1.5 3.1-0.2 0-0.5 0.1-0.8 0.1m88.4-14.4h-0.2c-1.3-0.1-2.3-1.3-2.2-2.6 0.1-1.5 0.2-3 0.2-4.5 0-1.3 1.1-2.5 2.4-2.5s2.4 1 2.4 2.4v0.1c0 1.6-0.1 3.3-0.2 4.9-0.1 1.2-1.2 2.2-2.4 2.2m-91.5-4.6c-1.3 0-2.4-1.1-2.4-2.4v-0.1c0-1.7 0.1-3.3 0.2-5 0.1-1.3 1.3-2.3 2.6-2.2s2.3 1.3 2.2 2.6c-0.1 1.5-0.2 3-0.2 4.6 0.1 1.4-1 2.5-2.4 2.5m89.9-14.5c-1.1 0-2.1-0.7-2.4-1.8-0.4-1.5-0.8-3-1.3-4.4-0.4-1.3 0.2-2.7 1.5-3.1s2.7 0.2 3.1 1.5c0.5 1.6 1 3.2 1.4 4.8 0.3 1.3-0.5 2.6-1.8 3-0.1-0.1-0.3 0-0.5 0m-86.8-4.4c-0.2 0-0.5 0-0.8-0.1-1.3-0.4-2-1.8-1.5-3.1 0.5-1.6 1.2-3.2 1.8-4.7 0.5-1.2 2-1.8 3.2-1.3s1.8 2 1.3 3.2c-0.6 1.4-1.2 2.9-1.7 4.3-0.3 1-1.3 1.7-2.3 1.7m79-13.2c-0.8 0-1.5-0.4-2-1.1-0.9-1.3-1.8-2.5-2.8-3.7-0.9-1-0.7-2.6 0.3-3.4s2.6-0.7 3.4 0.3c1.1 1.3 2.1 2.6 3 4.1 0.7 1.1 0.5 2.6-0.7 3.4-0.3 0.3-0.7 0.4-1.2 0.4m-69.8-3.7c-0.5 0-1.1-0.2-1.5-0.5-1-0.9-1.2-2.4-0.3-3.4 1.1-1.3 2.2-2.6 3.4-3.8 1-0.9 2.5-0.9 3.4 0 0.9 1 1 2.5 0 3.4-1.1 1.1-2.1 2.2-3.1 3.4-0.5 0.6-1.2 0.9-1.9 0.9m56.2-9.8c-0.5 0-0.9-0.1-1.3-0.4-1.3-0.8-2.6-1.6-4-2.3-1.2-0.6-1.7-2.1-1.1-3.3s2.1-1.7 3.3-1.1c1.5 0.7 3 1.6 4.4 2.5 1.1 0.7 1.5 2.2 0.7 3.4-0.4 0.8-1.2 1.2-2 1.2m-41.3-2.3c-0.9 0-1.7-0.5-2.2-1.3-0.6-1.2-0.1-2.7 1.1-3.3 1.5-0.8 3.1-1.5 4.7-2.1 1.2-0.5 2.6 0.2 3.1 1.4s-0.2 2.7-1.4 3.1c-1.4 0.5-2.8 1.1-4.2 1.8-0.4 0.3-0.7 0.4-1.1 0.4m23.3-4.2h-0.3c-1.5-0.2-3-0.3-4.4-0.3-1.3 0-2.5-1.1-2.5-2.4s1-2.4 2.4-2.4h0.1c1.7 0 3.3 0.1 5 0.3 1.3 0.2 2.3 1.4 2.1 2.7-0.1 1.1-1.1 2.1-2.4 2.1"
            fill="#F3BF1C" />
          <path d="m77 72.5h-14.6c0 1.6 0.1 3.3 0.3 4.9h14.6c-0.1-1.7-0.2-3.3-0.3-4.9" fill="#DBA927" />
          <path d="m77.6 60.3h-14.6c-0.2 1.6-0.3 3.2-0.4 4.9h14.6c0.1-1.7 0.2-3.3 0.4-4.9" fill="#DBA927" />
          <path d="m78.4 84.6h-14.6c0.3 1.7 0.7 3.3 1.1 4.9h14.6c-0.5-1.6-0.8-3.2-1.1-4.9" fill="#DBA927" />
          <path d="m81.8 96.8h-14.6c0.6 1.7 1.3 3.3 2 4.9h14.6c-0.7-1.6-1.4-3.3-2-4.9" fill="#DBA927" />
          <path d="m80.1 48.1h-14.6c-0.5 1.6-0.9 3.2-1.3 4.9h14.6c0.4-1.7 0.9-3.3 1.3-4.9" fill="#DBA927" />
          <path d="m85 36h-14.6c-0.8 1.6-1.6 3.2-2.2 4.9h14.6c0.6-1.7 1.4-3.3 2.2-4.9" fill="#DBA927" />
          <path d="m94.9 21.4h-14.6c-1.4 1.6-2.7 3.2-3.9 4.9h14.6c1.2-1.8 2.5-3.4 3.9-4.9" fill="#DBA927" />
          <path d="m109.8 9.2h-14.6c-2.5 1.4-4.9 3.1-7.1 4.9h14.6c2.2-1.8 4.6-3.5 7.1-4.9" fill="#DBA927" />
          <path d="m89.2 111.4h-14.6c1.1 1.7 2.3 3.3 3.6 4.9h14.6c-1.2-1.6-2.4-3.2-3.6-4.9" fill="#DBA927" />
          <path d="m85.1 123.5c2 1.8 4 3.4 6.1 4.9h14.6c-2.1-1.5-4.2-3.1-6.2-4.9h-14.5z" fill="#DBA927" />
        </svg>
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="top-profile-div">
        <img class="top-profile-img" src="assets/imgs/{{user.avtar}}" alt="">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>