<!--
  Generated template for the EntercodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col col-4><div><svg class="cogwheel-outline" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="778.3px" height="778.3px" viewBox="0 0 778.3 778.3" style="enable-background:new 0 0 778.3 778.3;" xml:space="preserve">
        <g class="cogwheel-outline-g">
          <path d="M420.7,778.15h-63.4c-24,0-43.5-19.5-43.5-43.5v-77.2c-23.6-6.6-46.2-16.3-67.3-28.899l-49.8,49.399
            c-8.2,8.101-19.1,12.601-30.6,12.601c-11.7,0-22.7-4.601-30.9-12.8l-44.7-45c-16.9-17-16.8-44.601,0.2-61.5l52-51.601
            c-9.3-17.6-16.8-36.1-22.1-55.2H43.5c-24-0.1-43.5-19.6-43.5-43.6v-63.4c0-24,19.5-43.5,43.5-43.5h77.2
            c6.6-23.6,16.3-46.1,28.9-67.3l-57.3-57.8c-16.9-17-16.8-44.6,0.3-61.5l45-44.7c8.2-8.1,19-12.6,30.6-12.6
            c11.7,0,22.7,4.6,30.9,12.8l59.5,60c17.6-9.4,36.2-16.8,55.3-22.1v-77.1c0-24,19.5-43.5,43.5-43.5H420.8
            c24,0,43.5,19.5,43.5,43.5v77.2c19.8,5.5,39,13.3,57.2,23.2l60-59.5c8.2-8.1,19-12.6,30.6-12.6c11.7,0,22.7,4.6,30.9,12.8
            l44.7,45c8.2,8.2,12.6,19.2,12.6,30.8c0,11.6-4.6,22.5-12.8,30.7l-57.7,57.3c12.101,20.6,21.4,42.6,27.8,65.5h77.2
            c24,0,43.5,19.5,43.5,43.5v63.3c0,24-19.5,43.5-43.5,43.5h-77.2c-5.5,19.8-13.3,39-23.199,57.2l51.6,52
            c8.2,8.2,12.6,19.2,12.6,30.8s-4.6,22.5-12.8,30.7l-45,44.7c-8.2,8.1-19,12.6-30.6,12.6c-11.7,0-22.7-4.6-30.9-12.8l-49.3-49.7
            c-20.6,12.1-42.5,21.4-65.4,27.8v77.2C464.2,758.65,444.7,778.15,420.7,778.15z M243.6,603.45l6.7,4.2
            c23.5,14.9,49,25.9,75.8,32.601l7.5,1.899v92.5c0,13.101,10.601,23.7,23.7,23.7h63.4c13.1,0,23.7-10.6,23.7-23.7v-92.5l7.5-1.899
            c26.1-6.5,51-17.101,74-31.5l6.699-4.2L593,665.45c4.5,4.5,10.4,7,16.8,7c6.3,0,12.2-2.399,16.7-6.8l45-44.7
            c4.5-4.399,6.9-10.399,7-16.699c0-6.4-2.4-12.301-6.8-16.801l-62.2-62.6l3.8-6.5c12-20.9,21.101-43.1,26.8-66.2l1.9-7.5h92.5
            c13.1,0,23.7-10.6,23.7-23.7V357.55c0-13.1-10.601-23.7-23.7-23.7H642l-1.9-7.5c-6.5-26.1-17.1-51.1-31.5-74.1l-4.199-6.7
            l68.8-68.3c4.5-4.4,6.899-10.4,7-16.7c0-6.4-2.4-12.3-6.8-16.8l-44.7-45c-4.5-4.5-10.4-7-16.8-7c-6.301,0-12.2,2.4-16.7,6.8
            l-70.601,70.1l-6.5-3.8c-20.8-12-43.1-21-66.199-26.8l-7.5-1.9v-92.5c0-13.1-10.601-23.7-23.7-23.7h-63.4
            c-13.1,0-23.7,10.6-23.7,23.7v92.5l-7.5,1.9c-22.5,5.6-44.1,14.3-64.5,25.8l-6.6,3.7l-70-70.7c-4.5-4.5-10.4-7-16.8-7
            c-6.3,0-12.2,2.4-16.7,6.8l-45,44.7c-9.3,9.2-9.3,24.2-0.1,33.5l68.4,68.9l-4.2,6.7c-14.9,23.5-25.9,49-32.6,75.7l-1.9,7.5H43.5
            c-13.1,0-23.7,10.6-23.7,23.7v63.5c0,13.1,10.6,23.7,23.7,23.7H136l1.9,7.5c5.6,22.5,14.3,44.1,25.8,64.399l3.7,6.601l-62.7,62.2
            c-9.3,9.199-9.3,24.199-0.1,33.5l44.7,45c4.5,4.5,10.4,7,16.8,7c6.3,0,12.2-2.4,16.7-6.801L243.6,603.45z"/>
        </g>
        <g class="cogwheel-outline-g">
          <path d="M389,537.45c-81.8,0-148.4-66.6-148.4-148.399c0-81.8,66.6-148.3,148.4-148.3s148.4,66.6,148.4,148.4
            S470.8,537.45,389,537.45z M389,260.55c-70.9,0-128.6,57.7-128.6,128.6c0,70.9,57.7,128.5,128.6,128.5s128.6-57.7,128.6-128.6
            C517.6,318.15,459.9,260.55,389,260.55z"/>
        </g>
      </svg></div>
  </ion-col>
        <ion-col col-4><div class="text-center"><svg class="coins-main" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 166.4 64.5" style="enable-background:new 0 0 166.4 64.5;" xml:space="preserve">
  <style type="text/css">
    .st0{fill:#FED700;}
    .st1{fill:#FED700;stroke:#DC9A27;stroke-width:5;stroke-miterlimit:10;}
    .st2{fill:#DC9A27;}
    .st3{fill:#FFFFFF;}
  </style>
  <g id="XMLID_1_">
    <path id="XMLID_40_" class="st0" d="M119.1,10.8c-5.7,5.6-9.2,13-9.2,21.1c0,8.8,4.1,16.7,10.6,22.4H26.2V10.8H119.1z"/>
    <circle id="XMLID_32_" class="st1" cx="25.4" cy="32.9" r="22.5"/>
    <g id="XMLID_2_">
      <circle id="XMLID_36_" class="st1" cx="134.5" cy="32.2" r="29.4"/>
      <g id="XMLID_19_">
        <path id="XMLID_22_" class="st2" d="M132.8,33.8h-5.6v-3.3h5.6v-5.8h3.4v5.8h5.6v3.3h-5.6v5.8h-3.4V33.8z"/>
      </g>
    </g>
    <g id="XMLID_16_">
      <path id="XMLID_17_" class="st2" d="M30.7,26.5c-1.4-1.3-2.7-2-4.3-2c-1.9,0-2.9,0.8-2.9,2.5c0,3.8,10.5,3.5,10.5,11.1
        c0,3.8-2.1,6.8-6.2,7.6v4.1h-3.9v-4c-2.4-0.3-5.1-1.3-7-3l2.5-3.9c2,1.5,3.8,2.3,5.7,2.3c2.2,0,3.2-0.9,3.2-2.7
        c0-4.1-10.5-4-10.5-11.2c0-3.9,2.3-6.6,6.1-7.4v-4.1h3.9v4c2.5,0.4,4.4,1.6,5.9,3.3L30.7,26.5z"/>
    </g>
    <g id="XMLID_33_">
      <path id="XMLID_34_" class="st3" d="M74.3,38.5h-2.1v4.4h-2.9v-4.4h-7.5v-2.1L68.5,26h3.6v10.2h2.1V38.5z M69.3,36.2v-3.8
        c0-1,0.1-2.5,0.1-3.5h-0.1c-0.4,0.9-0.9,1.7-1.4,2.6l-3.1,4.7H69.3z"/>
      <path id="XMLID_38_" class="st3" d="M76,41.1c4.7-4.5,7.6-7.5,7.6-10.1c0-1.8-1-2.9-2.8-2.9c-1.3,0-2.4,0.9-3.3,1.9l-1.7-1.7
        c1.5-1.6,3.1-2.6,5.4-2.6c3.2,0,5.3,2,5.3,5.2c0,3-2.8,6.1-6.1,9.6c0.9-0.1,2-0.2,2.8-0.2h4.1v2.6H76V41.1z"/>
    </g>
  </g>
  </svg>
  </div></ion-col>

  <ion-col col-4><img class="hosting_img" src="../assets/imgs/avatar_1.png" alt=""></ion-col>
      </ion-row>
    </ion-grid>

  <div class="text1-hostingpage"><p class="gh-text">JOIN GAME</p></div>





  <div class="connect-signal">
    <div class="selected-user">
    <div class="userprofile-hosts">
      <img src="../assets/imgs/avatar_2.png" alt="">
      <div class="userprofile-hosts-name">Mrunali</div>
    </div>
    </div>

    <div class="connect-signal1">

      </div>

      <div class="connect-signal1 delay-1">
      </div>

      <div class="connect-signal1 delay-2">
      </div>

      <div class="user-profile">
        <img src="../assets/imgs/boy-connecting-page.png" alt="">
      </div>




  </div>


  <p class="searching-text">1 Host Found! <br>Click on the host icon and connect.</p>


  <button type="button" class="ready-host-search">READY</button>









  </div>
</ion-content>
